---
title:  Memory Requirements for Cached Data
---

<span class="keyword">Geode</span> solutions architects need to estimate resource requirements for meeting application performance, scalability and availability goals.

These requirements include estimates for the following resources:

-   memory
-   number of machines
-   network bandwidth

The information here is only a guideline, and assumes a basic understanding of <span class="keyword">Geode</span>. While no two applications or use cases are exactly alike, the information here should be a solid starting point, based on real-world experience. Much like with physical database design, ultimately the right configuration and physical topology for deployment is based on the performance requirements, application data access characteristics, and resource constraints (i.e., memory, CPU, and network bandwidth) of the operating environment.

-   **[Core Guidelines for Geode Data Region Design](../../reference/topics/memory_requirements_guidelines_and_calc.html#topic_ipt_dqz_j4)**

-   **[Memory Usage Overview](../../reference/topics/memory_requirements_guidelines_and_calc.html#topic_ppn_pqz_j4)**

-   **[Calculating Application Object Overhead](../../reference/topics/memory_requirements_guidelines_and_calc.html#topic_kjx_brz_j4)**

-   **[Using Key Storage Optimization](../../reference/topics/memory_requirements_guidelines_and_calc.html#topic_exn_2tz_j4)**

-   **[Measuring Cache Overhead](../../reference/topics/memory_requirements_guidelines_and_calc.html#topic_ac4_mtz_j4)**

-   **[Estimating Management and Monitoring Overhead](../../reference/topics/memory_requirements_guidelines_and_calc.html#topic_i1m_stz_j4)**

-   **[Determining Object Serialization Overhead](../../reference/topics/memory_requirements_guidelines_and_calc.html#topic_psn_5tz_j4)**

-   **[Calculating Socket Memory Requirements](../../reference/topics/memory_requirements_guidelines_and_calc.html#topic_d3g_c5z_j4)**


