---
title:  Running the QuickStart Examples
---

The QuickStart examples demonstrate the capabilities of the native client, and they provide source code so you can examine how each example is designed. C++ and C\# examples demonstrate how the native client performs as a C++ or C\# client.

Read the QuickStart Guide first (the `README.HTML` file included with the QuickStart examples) to learn more about running the QuickStart examples.

QuickStart examples are packaged as part of the native client product download. Product examples are installed into the following directory when you install the <span class="keyword">Geode</span> native client:

``` pre
<native_client_installdir>/SampleCode/quickstart
```

where *native\_client\_installdir* is the location where you installed the <span class="keyword">Geode</span> native client.

**Note:** The C\# examples have a `.config` file that should not be modified or deleted. The file provides references to support files for running the example.


