---
title:  Running Native Client Applications
---

Set up the environment for the native client on multiple platforms. Compile and run client programs.

-   **[Developing C++ Programs on Linux](../../nativeclient/introduction/developing-linux.html)**

    This section describes how to build and run a native client application on Linux.

-   **[Developing C++ Programs on Solaris](../../nativeclient/introduction/developing-solaris.html)**

    This section describes how to build and run a native client application on Solaris.

-   **[Developing C++ Programs on Windows](../../nativeclient/introduction/developing-windows.html)**

    <span class="keyword">Geode</span> uses the Visual Studio 2010 Service Pack 1 compiler for C++ programs on Windows, which invokes Microsoft<sup>®</sup> `cl.exe` from the command line at compile time.


