---
title:  Attributes in gfcpp.properties
---

A variety of `gfcpp.properties` settings can be used when a native client connects to a distributed system.

The following settings can be configured:

-   **[General Properties](attributes-gfcpp.html#attributes-gfcpp__table_21004C9E93294F03BE3469C13EA33262)** Basic information for the process, such as cache creation parameters.
-   **[Logging Properties](attributes-gfcpp.html#attributes-gfcpp__table_D42627049FD6432494BDE5170AF1BCCF)** How and where to log system messages.
-   **[Statistics Archiving Properties](attributes-gfcpp.html#attributes-gfcpp__table_E1A0EDBA67CD41319E1E5FD0A0BB2723)** How to collect and archive statistics information.
-   **[Durable Client Properties](attributes-gfcpp.html#attributes-gfcpp__table_BA6DAF27947B4A9488787E6BDCFC15B9)** Information about the durable clients connected to the system.
-   **[Security Properties](attributes-gfcpp.html#attributes-gfcpp__table_B3A8E9EB44A94557A97BB700E2BA1EF1)** Information about various security parameters.

<a id="attributes-gfcpp__section_655789BCC46642789F91CDA8AE03CD9B"></a>
## Attribute Definitions

The following tables list <span class="keyword">Geode</span> configuration attributes that can be stored in the `gfcpp.properties` file to be read by a native client.

For the system properties that relate to high availability, see [Sending Periodic Acknowledgement](../preserving-data/sending-periodic-ack.html#concept_868B8082463846DE9F35BBEA56105C82). For a list of security-related system properties and their descriptions, see the table [System Properties for Client Authentication and Authorization](../security/security-systemprops.html#security__table_92A6A66523764199A19BCD66BA189921).

<a id="attributes-gfcpp__table_21004C9E93294F03BE3469C13EA33262"></a>

<table>
<caption><span class="tablecap">Table 1. Attributes in gfcpp.properties—General Properties</span></caption>
<colgroup>
<col width="33%" />
<col width="33%" />
<col width="33%" />
</colgroup>
<thead>
<tr class="header">
<th>gfcpp.properties Attribute</th>
<th>Description</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>appdomain-enabled</td>
<td>If <code class="ph codeph">true</code>, allows native client to work when multiple .NET appdomains are in use.</td>
<td>false</td>
</tr>
<tr class="even">
<td>cache-xml-file</td>
<td>Name and path of the file whose contents are used by default to initialize a cache if one is created. If not specified, the native client starts with an empty cache, which is populated at runtime.
<p>See [Cache Initialization File](../cache-init-file/chapter-overview.html#chapter-overview) for more information on the cache initialization file.</p></td>
<td>no default</td>
</tr>
<tr class="odd">
<td>heap-lru-delta</td>
<td>When heap LRU is triggered, this is the amount that gets added to the percentage that is above the <code class="ph codeph">heap-lru-limit</code> amount. LRU continues until the memory usage is below <code class="ph codeph">heap-lru-limit</code> minus this percentage. This property is only used if <code class="ph codeph">heap-lru-limit</code> is greater than 0 .</td>
<td>10</td>
</tr>
<tr class="even">
<td>heap-lru-limit</td>
<td>Maximum amount of memory, in megabytes, used by the cache for all regions. If this limit is exceeded by <code class="ph codeph">heap-lru-delta</code> percent, LRU reduces the memory footprint as necessary. If not specified, or set to 0, memory usage is governed by each region's LRU entries limit, if any.</td>
<td>0</td>
</tr>
<tr class="odd">
<td>conflate-events</td>
<td>Client side conflation setting, which is sent to the server.</td>
<td>server</td>
</tr>
<tr class="even">
<td>connect-timeout</td>
<td>Amount of time (in seconds) to wait for a response after a socket connection attempt.</td>
<td>59</td>
</tr>
<tr class="odd">
<td>connection-pool-size</td>
<td>Number of connections per endpoint</td>
<td>5</td>
</tr>
<tr class="even">
<td>crash-dump-enabled</td>
<td>Whether crash dump generation for unhandled fatal errors is enabled. True is enabled, false otherwise.</td>
<td>true</td>
</tr>
<tr class="odd">
<td>disable-chunk-handler-thread</td>
<td>When set to false, each application thread processes its own response. If set to true, the chunk-handler-thread processes the response for each application thread.</td>
<td>false</td>
</tr>
<tr class="even">
<td>disable-shuffling-of-endpoints</td>
<td>If true, prevents server endpoints that are configured in pools from being shuffled before use.</td>
<td>false</td>
</tr>
<tr class="odd">
<td>grid-client</td>
<td>If true, the client does not start various internal threads, so that startup and shutdown time is reduced.</td>
<td>false</td>
</tr>
<tr class="even">
<td>max-fe-threads</td>
<td>Thread pool size for parallel function execution. An example of this is the GetAll operations.</td>
<td>2 * number of CPU cores</td>
</tr>
<tr class="odd">
<td>max-socket-buffer-size</td>
<td>Maximum size of the socket buffers, in bytes, that the native client will try to set for client-server connections.</td>
<td>65 * 1024</td>
</tr>
<tr class="even">
<td>notify-ack-interval</td>
<td>Interval, in seconds, in which client sends acknowledgments for subscription notifications.</td>
<td>1</td>
</tr>
<tr class="odd">
<td>notify-dupcheck-life</td>
<td>Amount of time, in seconds, the client tracks subscription notifications before dropping the duplicates.</td>
<td>300</td>
</tr>
<tr class="even">
<td>ping-interval</td>
<td>Interval, in seconds, between communication attempts with the server to show the client is alive. Pings are only sent when the <code class="ph codeph">ping-interval</code> elapses between normal client messages. This must be set lower than the server's <code class="ph codeph">maximum-time-between-pings</code>.</td>
<td>10</td>
</tr>
<tr class="odd">
<td>redundancy-monitor-interval</td>
<td>Interval, in seconds, at which the subscription HA maintenance thread checks for the configured redundancy of subscription servers.</td>
<td>10</td>
</tr>
<tr class="even">
<td>stacktrace-enabled</td>
<td>If <code class="ph codeph">true</code>, the exception classes capture a stack trace that can be printed with their <code class="ph codeph">printStackTrace</code> function. If false, the function prints a message that the trace is unavailable.</td>
<td>false</td>
</tr>
<tr class="odd">
<td>tombstone-timeout</td>
<td>Time in milliseconds used to timeout tombstone entries when region consistency checking is enabled.
<div class="note note">
**Note:**
<p>Do not modify this property unless instructed by technical support.</p>
</div></td>
<td>480000</td>
</tr>
</tbody>
</table>

: <span class="tablecap">Table 1. Attributes in gfcpp.properties—General Properties</span>

<a id="attributes-gfcpp__table_D42627049FD6432494BDE5170AF1BCCF"></a>

<table>
<caption><span class="tablecap">Table 2. Attributes in gfcpp.properties—Logging Properties</span></caption>
<colgroup>
<col width="33%" />
<col width="33%" />
<col width="33%" />
</colgroup>
<thead>
<tr class="header">
<th>gfcpp.properties Attribute</th>
<th>Description</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>log-disk-space-limit</td>
<td>Maximum amount of disk space, in megabytes, allowed for all log files, current, and rolled. If set to 0, the space is unlimited.</td>
<td>0</td>
</tr>
<tr class="even">
<td>log-file</td>
<td>Name and full path of the file where a running client writes log messages. If not specified, logging goes to <code class="ph codeph">stdout</code>.</td>
<td>no default file</td>
</tr>
<tr class="odd">
<td>log-file-size-limit</td>
<td>Maximum size, in megabytes, of a single log file. Once this limit is exceeded, a new log file is created and the current log file becomes inactive. If set to 0, the file size is unlimited.</td>
<td>0</td>
</tr>
<tr class="even">
<td>log-level</td>
<td>Controls the types of messages that are written to the application's log. These are the levels, in descending order of severity and the types of message they provide:
<ul>
<li><strong>Error</strong> (highest severity) is a serious failure that will probably prevent program execution.</li>
<li><strong>Warning</strong> is a potential problem in the system.</li>
<li><strong>Info</strong> is an informational message of interest to the end user and system administrator.</li>
<li><strong>Config</strong> is a static configuration message, often used to debug problems with particular configurations.</li>
<li><strong>Fine, Finer, Finest, and Debug</strong> provide tracing information. Only use these with guidance from technical support.</li>
</ul>
<p>Enabling logging at any level enables logging for all higher levels.</p></td>
<td>config</td>
</tr>
</tbody>
</table>

: <span class="tablecap">Table 2. Attributes in gfcpp.properties—Logging Properties</span>

<a id="attributes-gfcpp__table_E1A0EDBA67CD41319E1E5FD0A0BB2723"></a>

<table>
<caption><span class="tablecap">Table 3. Attributes in gfcpp.properties—Statistics Archiving Properties</span></caption>
<colgroup>
<col width="33%" />
<col width="33%" />
<col width="33%" />
</colgroup>
<thead>
<tr class="header">
<th>gfcpp.properties Attribute</th>
<th>Description</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>statistic-sampling-enabled</td>
<td>Controls whether the process creates a statistic archive file.</td>
<td>true</td>
</tr>
<tr class="even">
<td>statistic-archive-file</td>
<td>Name and full path of the file where a running system member writes archives statistics. If <code class="ph codeph">archive-disk-space-limit</code> is not set, the native client appends the process ID to the configured file name, like <code class="ph codeph">statArchive-PID.gfs</code>. If the space limit is set, the process ID is not appended but each rolled file name is renamed to statArchive-ID.gfs, where ID is the rolled number of the file.</td>
<td>./statArchive.gfs</td>
</tr>
<tr class="odd">
<td>archive-disk-space-limit</td>
<td>Maximum amount of disk space, in megabytes, allowed for all archive files, current, and rolled. If set to 0, the space is unlimited.</td>
<td>0</td>
</tr>
<tr class="even">
<td>archive-file-size-limit</td>
<td>Maximum size, in bytes, of a single statistic archive file. Once this limit is exceeded, a new statistic archive file is created and the current archive file becomes inactive. If set to 0, the file size is unlimited.</td>
<td>0</td>
</tr>
<tr class="odd">
<td>statistic-sample-rate</td>
<td>Rate, in seconds, that statistics are sampled. Operating system statistics are updated only when a sample is taken. If statistic archival is enabled, then these samples are written to the archive.
<p>Lowering the sample rate for statistics reduces system resource use while still providing some statistics for system tuning and failure analysis.</p>
<p>You can view archived statistics with the optional VSD utility.</p></td>
<td>1</td>
</tr>
<tr class="even">
<td>enable-time-statistics</td>
<td>Enables time-based statistics for the distributed system and caching. For performance reasons, time-based statistics are disabled by default. See [System Statistics](../system-statistics/chapter_overview.html#concept_3BE5237AF2D34371883453E6A9474A79).</td>
<td>false</td>
</tr>
</tbody>
</table>

: <span class="tablecap">Table 3. Attributes in gfcpp.properties—Statistics Archiving Properties</span>

<a id="attributes-gfcpp__table_BA6DAF27947B4A9488787E6BDCFC15B9"></a>

| gfcpp.properties Attribute | Description                                                                                                                                                                                                                                                                    | Default |
|----------------------------|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|---------|
| auto-ready-for-events      | Whether client subscriptions automatically receive events when declaratively configured via XML. If set to `false`, event startup is not automatic and you need to call the `Cache.ReadyForEvents()` method API after subscriptions for the server to start delivering events. | true    |
| durable-client-id          | Identifier to specify if you want the client to be durable.                                                                                                                                                                                                                    | empty   |
| durable-timeout            | Time, in seconds, a durable client's subscription is maintained when it is not connected to the server before being dropped.                                                                                                                                                   | 300     |

: <span class="tablecap">Table 4. Attributes in gfcpp.properties—Durable Client Properties</span>

<a id="attributes-gfcpp__table_B3A8E9EB44A94557A97BB700E2BA1EF1"></a>

| gfcpp.properties Attribute   | Description                                                          | Default |
|------------------------------|----------------------------------------------------------------------|---------|
| security-client-dhalgo       | Diffie-Hellman secret key algorithm.                                 | null    |
| security-client-kspath       | keystore (.pem file ) path.                                          | null    |
| security-client-auth-factory | Factory method for the security `AuthInitialize` module.             | empty   |
| security-client-auth-library | Path to the client security library for the `AuthInitialize` module. | empty   |
| ssl-keystore-password        | Keystore password.                                                   | null    |

: <span class="tablecap">Table 5. Attributes in gfcpp.properties—Security Properties</span>


