---
title:  Attribute Definition Priority
---

You can specify attributes in different ways, which can cause conflicting definitions. Applications can be configured programmatically, and that has priority over other settings.

Check your application documentation to see whether this applies in your case.

-   Programmatic configuration
-   Properties set at the command line
-   `currentWorkingDirectory/gfcpp.properties` file
-   `productDir/defaultSystem/gfcpp.properties` file
-   <span class="keyword">Geode</span> defaults

In case an attribute is defined in more than one place, the first source in this list is used:

The `gfcpp.properties` files and programmatic configuration are optional. If they are not present, no warnings or errors occur. For details on programmatic configuration through the `Properties` object, see [Defining Properties Programmatically](define-programmatically.html#define-programmatically).

For information on the cache server configuration, see the *User's Guide*.


