---
title:  Cache Server Configuration
---

You configure the cache server in two files: `gemfire.properties` for server system-level configuration and `cache.xml` for cache-level configuration.

The configuration of the caches is part of the application development process. See [Cache Initialization File](../cache-init-file/chapter-overview.html#chapter-overview). (The cache-level configuration file is generally referred to as `cache.xml`, but you can use any name.)

<a id="cache-server-config__section_FED30097F6C246DE843EBD8B5292D86C"></a>
## Configuration File Locations

For the GemFire cache server, the `gemfire.properties` file is usually stored in the current working directory. For more information, see the *User's Guide*.

For the `cache.xml` cache configuration file, a native client looks for the path specified by the `cache-xml-file` attribute in `gfcpp.properties` (see [Attributes in gfcpp.properties](attributes-gfcpp.html#attributes-gfcpp)). If the `cache.xml` is not found, the process starts with an unconfigured cache.

<a id="cache-server-config__section_F47DE4D858B04244956B91360AD8967E"></a>

## Modifying Attributes Outside the gemfire.properties File

In addition to the `gemfire.properties file`, you can pass attributes to the cache server on the gfsh command line. These override any settings found in the `gemfire.properties` file when starting the cache server.

For more information, see *Configuring a Cluster* in the *User's Guide*.
