---
title:  Setting System Properties
---

*Setting System Properties* describes how to configure <span class="keyword">Apache Geode</span> native clients and cache servers to participate in a distributed system.

-   **[Configuring the Native Client and Cache Server](../../nativeclient/setting-properties/config-overview.html)**

    You can configure clients through files and API calls. The servers are configured through command-line input and configuration files.

-   **[Attributes in gfcpp.properties](../../nativeclient/setting-properties/attributes-gfcpp.html)**

    A variety of `gfcpp.properties` settings can be used when a native client connects to a distributed system.

-   **[gfcpp.properties Example File](../../nativeclient/gfcpp.properties/chapter_overview.html)**

    Use the gfcpp.properties file to configure distributed system connections for the <span class="keyword">Apache Geode</span> native client.


