---
title:  Region Naming
---

To get the full range of <span class="keyword">Apache Geode</span> capabilities for your cached data regions, follow <span class="keyword">Geode</span>'s region naming guidelines.

The safest approach when naming your regions is to use only alphanumeric characters and the underscore character and to keep your region names short. This permits you the full range of <span class="keyword">Geode</span> region configurations and allow you to perform all available <span class="keyword">Geode</span> operations on the region.

Following these guidelines for naming regions:

-   Do not use the separator slash character ‘ / ’.
-   Do not begin region names with two underscore characters "\_\_" as this is reserved for internal <span class="keyword">Geode</span> use.
-   To run queries against your data, restrict your region names to alphanumeric characters and the underscore character.


