---
title:  Persistence and Overflow
---

You can persist data on disk for backup purposes and overflow it to disk to free up memory without completely removing the data from your cache.

**Note:**
This supplements the general steps for managing data regions provided in [Basic Configuration and Programming](../../basic_config/book_intro.html).

All disk storage uses <span class="keyword">Pivotal GemFire</span>[Disk Storage](../../managing/disk_storage/chapter_overview.html).

-   **[How Persistence and Overflow Work](../../../latest/developing/storing_data_on_disk/how_persist_overflow_work.html)**

    To use <span class="keyword">GemFire</span> persistence and overflow, you should understand how they work with your data.

-   **[Configure Region Persistence and Overflow](../../../latest/developing/storing_data_on_disk/storing_data_on_disk.html)**

    Plan persistence and overflow for your data regions and configure them accordingly.

-   **[Overflow Configuration Examples](../../../latest/developing/storing_data_on_disk/overflow_config_examples.html)**

    The `cache.xml` examples show configuration of region and server subscription queue overflows.


