---
title:  Delta Propagation
---

*Delta Propagation* describes how deltas (updates to data) are propagated and how to implement delta propagation. It also analyzes performance limitations.

In most distributed data management systems, stored data is created once and updated frequently. Updates are sent to other members for event propagation, redundancy management, and cache consistency in general. Tracking only the changes in an updated object and sending only the updates, or deltas, mean lower network transmission costs and lower object serialization/deserialization costs. Generally, the larger your objects and the smaller the deltas, the greater the performance benefits of delta propagation. Partitioned regions generally benefit more with higher redundancy levels.

-   **[How Delta Propagation Works](../../nativeclient/delta-propagation/how-delta-propagation-works.html)**

    <span class="keyword">Geode</span> propagates object deltas using methods that you program on the client side. The methods are in the delta interface, which you implement in your cached objects’ classes.

-   **[Delta Propagation API](../../nativeclient/delta-propagation/delta-propagation-api.html)**

    Delta propagation uses configuration properties and a simple API to send and receive deltas.

-   **[Cloning](../../nativeclient/delta-propagation/delta-propagation-properties.html)**

    With cloning enabled, <span class="keyword">Geode</span> does a deep copy of the object, using serialization. You can improve performance by implementing the appropriate `clone` method for your API, making a deep copy of anything to which a delta may be applied.

-   **[Implementing Delta Propagation](../../nativeclient/delta-propagation/implementing-delta-propagation.html)**

    By default, delta propagation is enabled in your distributed system and is used for objects that implement the delta interface. You program the client-side methods to extract delta information for your entries and to apply received delta information.

-   **[Exceptions and Limitations](../../nativeclient/delta-propagation/performance.html)**

-   **[Examples of Delta Propagation](../../nativeclient/delta-propagation/delta-propagation-examples.html)**

    Examples describe delta propagation operations and provide implementation code for C\# .NET and C++.


