#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

defaults
  timeout client 1000
  timeout connect 1000
  timeout server 1000

frontend sniproxy
  bind *:15443
  mode tcp
  tcp-request inspect-delay 5s
  tcp-request content accept if { req_ssl_hello_type 1 }
  use_backend locators if { req.ssl_sni -i locator }
  use_backend servers if { req.ssl_sni -i server }
  default_backend locators
  log stdout format raw  local0  debug

backend locators
  mode tcp
  server locator1 geode:10334

backend servers
  mode tcp
  server server1 geode:40404

