---
title:  <span class="keyword">Apache Geode</span> <span class="keyword">1.0.0-incubating</span> Documentation
---

This documentation describes product concepts and provides complete setup instructions for <span class="keyword">Apache Geode</span> <span class="keyword">1.0.0-incubating</span>. Source files and instructions on how to build this documentation are available at [https://github.com/project-geode/docs](https://github.com/project-geode/docs) and [https://github.com/project-geode/docs/blob/master/README.md](https://github.com/project-geode/docs/blob/master/README.md).

You can also find additional documentation about <span class="keyword">Geode</span> on the **Apache Geode Wiki**: [https://cwiki.apache.org/confluence/display/GEODE/Index](https://cwiki.apache.org/confluence/display/GEODE/Index).


