---
title:  Prerequisites and Installation Instructions
---

Each host of <span class="keyword">Apache Geode</span> <span class="keyword">1.0.0-incubating</span> that meets a small set of prerequisites may follow the provided installation instructions.

-   **[Host Machine Requirements](getting_started/system_requirements/host_machine.html)**

    Host machines must meet a set of requirements for <span class="keyword">Apache Geode</span>.

-   **[How to Install](getting_started/installation/install_standalone.html)**

    Build from source or use the ZIP or TAR distribution to install <span class="keyword">Apache Geode</span> on every physical and virtual machine that will run <span class="keyword">Apache Geode</span>.

-   **[CLASSPATH Settings for Geode Processes](getting_started/setup_gemfire_classpath.html)**

    This topic describes how <span class="keyword">Geode</span> processes set their CLASSPATH.

-   **[How to Uninstall](getting_started/uninstall_gemfire.html)**

    This section describes how to remove <span class="keyword">Geode</span>.


