---
title:  High Availability for Client-Server Communication
---

The <span class="keyword">Geode</span> native client provides reliable event messaging from cache server to client to prevent data loss during server failover operations. High availability is implemented in the cache server and is configured in the native client.

See [Configuring Highly Available Servers](../../developing/events/configuring_highly_available_servers.html) for details about configuring a Java cache server for high availability.

**Note:**
High availability functions the same whether the region is partitioned or not. See [Partitioned Regions](../../developing/partitioned_regions/chapter_overview.html) for information about partitioned regions.

-   **[Configuring Native Clients for High Availability](../../nativeclient/preserving-data/configuring-nc-ha.html)**

    Configure high availability by setting the pool attribute `subscription-redundancy` to the number of copies you want maintained.

-   **[Sending Periodic Acknowledgment](../../nativeclient/preserving-data/sending-periodic-ack.html)**

    Servers use periodic acknowledgment to reduce the likelihood of duplicate notifications, and to reduce resource usage.


