---
title:  Installing the SQLite Persistence Manager
---

*Installing the SQLite Persistence Manager* describes how to download, build and install the SQLite database libraries for use with disk overflow.

The commands that you type are shown in boldface fixed font. See [PersistenceManager](../client-cache/persistence-manager.html#persistence-manager) for additional information about the SQLite database libraries.

-   **[Linux Installation](../../nativeclient/sqlite-persistence/linux_install.html)**

    This topic describes how to install the SQLite Persistence Manager on Linux for use with the <span class="keyword">Geode</span> native client.

-   **[Solaris Installation](../../nativeclient/sqlite-persistence/solaris_install.html)**

    This topic describes how to install the SQLite Persistence Manager on Solaris for use with the <span class="keyword">Geode</span> native client.

-   **[Windows Installation](../../nativeclient/sqlite-persistence/windows_install.html)**

    This topic describes how to install the SQLite Persistence Manager on Windows for use with the <span class="keyword">Geode</span> native client.


