---
title:  Programming Examples
---

This chapter provides a set of programming examples to help you understand the <span class="keyword">Geode</span> native client API.

-   **[Declaring a Native Client Region](../../nativeclient/programming-examples/native-client-region.html)**

    The following example shows how to declare a native client region in a `cache.xml` file.

-   **[API Programming Example – C\#](../../nativeclient/programming-examples/csharp-example.html)**

    This C\# programming code in the next example demonstrates how to use two or more clients sharing a distributed region in a <span class="keyword">Geode</span> cache.

-   **[API Programming Example – C++](../../nativeclient/programming-examples/cpp-example.html)**

-   **[Data Serialization Examples](../../nativeclient/programming-examples/serialization-overview.html)**


