---
title:  Configuring High Availability for Partitioned Regions
---

By default, <span class="keyword">Apache Geode</span> stores only a single copy of your partitioned region data among the region's data stores. You can configure <span class="keyword">Geode</span> to maintain redundant copies of your partitioned region data for high availability.

-   **[Understanding High Availability for Partitioned Regions](../../developing/partitioned_regions/how_pr_ha_works.html)**

    With high availability, each member that hosts data for the partitioned region gets some primary copies and some redundant (secondary) copies.

-   **[Configure High Availability for a Partitioned Region](../../developing/partitioned_regions/configuring_ha_for_pr.html)**

    Configure in-memory high availability for your partitioned region. Set other high-availability options, like redundancy zones and redundancy recovery strategies.


