---
title:  Set Enforce Unique Host
---

Configure <span class="keyword">GemFire</span> to use only unique physical machines for redundant copies of partitioned region data.

Understand how to set a member's `gemfire.properties` settings. See [Reference](../../reference/book_intro.html#reference).

Configure your members so <span class="keyword">GemFire</span> always uses different physical machines for redundant copies of partitioned region data using the `gemfire.properties` setting `enforce-unique-host`. The default for this setting is false. 

Example:
``` pre
enforce-unique-host=true
```


