---
title:  Getting Started with <span class="keyword">Pivotal GemFire</span>
---

A tutorial demonstrates features, and a main features section describes key functionality.

-   **[Pivotal GemFire in 15 Minutes or Less](../../getting_started/15_minute_quickstart_gfsh.html)**

    Need a quick introduction to <span class="keyword">Pivotal GemFire</span>? Take this brief tour to try out basic features and functionality.

-   **[About Pivotal GemFire](../../getting_started/gemfire_overview.html)**

    <span class="keyword">Pivotal GemFire</span> is a data management platform that provides real-time, consistent access to data-intensive applications throughout widely distributed cloud architectures.

-   **[Main Features of Pivotal GemFire](../../getting_started/product_intro.html)**

    This section summarizes the main features and key functionality of <span class="keyword">Pivotal GemFire</span>.

-   **[Installing Pivotal GemFire](../../getting_started/installation/install_intro.html)**

    This section describes how to install <span class="keyword">Pivotal GemFire</span>.

-   **[Upgrading Pivotal GemFire](../../getting_started/upgrade/upgrade_from_overview.html)**

    To upgrade <span class="keyword">Pivotal GemFire</span> from an existing installation, you install the latest version of the software from a ZIP file, or if your system is RHEL, by using RPMs. An upgrade from one major version to another (for example, from <span class="keyword">GemFire</span> 7.0.x to 8.0.x) may require brief downtime for your system.


