---
title:  Configuring Disk Stores
---

In addition to the disk stores you specify, <span class="keyword">Apache Geode</span> has a default disk store that it uses when disk use is configured with no disk store name specified. You can modify default disk store behavior.

-   **[Designing and Configuring Disk Stores](../../managing/disk_storage/using_disk_stores.html)**

    You define disk stores in your cache, then you assign them to your regions and queues by setting the `disk-store-name` attribute in your region and queue configurations.

-   **[Disk Store Configuration Parameters](../../managing/disk_storage/disk_store_configuration_params.html)**

    You define your disk stores by using the `gfsh create disk-store` command or in `<disk-store>` subelements of your cache declaration in `cache.xml`. All disk stores are available for use by all of your regions and queues.

-   **[Modifying the Default Disk Store](../../managing/disk_storage/using_the_default_disk_store.html)**

    You can modify the behavior of the default disk store by specifying the attributes you want for the disk store named "DEFAULT".


