---
title:  Upgrading Clients
---

<!--
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

When you upgrade your <%=vars.product_name%> server software, you will likely need to update your client applications in order to maintain
compatibility with the upgraded servers. To support real-world implementations, servers can usually interoperate with a few
different versions of the client software. In general, you will have best performance and reliability if:

- All clients run the same version of the client software.
- Clients and servers both run the latest versions of their respective software.

Changes you may need to make when you update, recompile, and link your client code include:

- Removing or replacing obsolete identifiers
- Reinstating secure client/server messaging

## <a id="remove-replace-obsolete-identifiers" class="no-quick-link"></a>Remove or Replace Obsolete Identifiers

Review the Release Notes for a list of classes, methods, and other identifiers that are no longer present in the current release.
Update client code so it no longer uses any of these removed identifiers.

