---
title:  Keeping the Cache in Sync with Outside Data Sources
---

Keep your distributed cache in sync with an outside data source by programming and installing application plug-ins for your region.

-   **[Overview of Outside Data Sources](../../../latest/developing/outside_data_sources/chapter_overview.html)**

    <span class="keyword">Pivotal GemFire</span> has application plug-ins to read data into the cache and write it out.

-   **[How Data Loaders Work](../../../latest/developing/outside_data_sources/how_data_loaders_work.html)**

    By default, a region has no data loader defined. Plug an application-defined loader into any region by setting the region attribute cache-loader on the members that host data for the region.

-   **[Implement a Data Loader](../../../latest/developing/outside_data_sources/implementing_data_loaders.html)**

    Program a data loader and configure your region to use it.


