---
title:  Peer-to-Peer Configuration
---

Use peer-to-peer configuration to set member discovery and communication within a single distributed system.

-   **[Configuring Peer-to-Peer Discovery](../../topologies_and_comm/p2p_configuration/setting_up_a_p2p_system.html)**

    Peer members discover each other using one or more locators.

-   **[Configuring Peer Communication](../../topologies_and_comm/p2p_configuration/setting_up_peer_communication.html)**

    By default <span class="keyword">Apache Geode</span> uses TCP for communication between members of a single distributed system. You can modify this at the member and region levels.

-   **[Organizing Peers into Logical Member Groups](../../topologies_and_comm/p2p_configuration/configuring_peer_member_groups.html)**

    In a peer-to-peer configuration, you can organize members into logical member groups and use those groups to associate specific data or assign tasks to a pre-defined set of members.


