<a id="topic_36C918B4202D45F3AC225FFD23B11D7C"></a>

# JMX Manager Operations

Any member can host an embedded JMX Manager, which provides a federated view of all MBeans for the distributed system. The member can be configured to be a manager at startup or anytime during its life by invoking the appropriate API calls on the ManagementService.

You need to have a JMX Manager started in your distributed system in order to use <span class="keyword">GemFire</span> management and monitoring tools such as [gfsh](../../tools_modules/gfsh/chapter_overview.html) and [<span class="keyword">GemFire</span> Pulse](../../tools_modules/pulse/chapter_overview.html).

**Note:**
Each node that acts as the JMX Manager has additional memory requirements depending on the number of resources that it is managing and monitoring. Being a JMX Manager can increase the memory footprint of any process, including locator processes. See [Memory Requirements for Cached Data](../../reference/topics/memory_requirements_for_cache_data.html#calculating_memory_requirements) for more information on calculating memory overhead on your <span class="keyword">GemFire</span> processes.

-   **[Starting a JMX Manager](../../../latest/managing/management/jmx_manager_operations.html)**

-   **[Configuring a JMX Manager](../../../latest/managing/management/jmx_manager_operations.html#topic_263072624B8D4CDBAD18B82E07AA44B6)**

-   **[Stopping a JMX Manager](../../../latest/managing/management/jmx_manager_operations.html#topic_5B6DF783A14241399DC25C6EE8D0048A)**


