<a id="topic_4BCF867697C3456D96066BAD7F39FC8B"></a>

# List of <span class="keyword">GemFire</span> JMX MBeans

This topic provides descriptions for the various management and monitoring MBeans that are available in <span class="keyword">GemFire</span>.

The following diagram illustrates the relationship between the different JMX MBeans that have been developed to manage and monitor <span class="keyword">Pivotal GemFire</span>.

<img src="../../images_svg/MBeans.svg" id="topic_4BCF867697C3456D96066BAD7F39FC8B__image_66525625D6804EDE9675D6CE509360A3" class="image" />

-   **[JMX Manager MBeans](../../../latest/managing/management/list_of_mbeans_full.html)**

    This section describes the MBeans that are available on the JMX Manager node.

-   **[Managed Node MBeans](../../../latest/managing/management/list_of_mbeans_full.html#topic_48194A5BDF3F40F68E95A114DD702413)**

    This section describes the MBeans that are available on all managed nodes.


