<a id="topic_czt_hq2_vk"></a>

# <span class="keyword">Geode</span> JMX MBean Notifications

<span class="keyword">Apache Geode</span> MBeans emit notifications when specific events occur or if an alert is raised in the <span class="keyword">Geode</span> system. Using standard JMX APIs, users can add notification handlers to listen for these events.

-   **[Notification Federation](../../managing/management/notification_federation_and_alerts.html)**

    All notifications emitted from managed nodes are federated to all JMX Managers in the system.

-   **[List of JMX MBean Notifications](../../managing/management/list_of_mbean_notifications.html)**

    This topic lists all available JMX notifications emitted by <span class="keyword">Geode</span> MBeans.


