---
title:  Browsing <span class="keyword">Geode</span> MBeans through JConsole
---

You can browse all the <span class="keyword">Geode</span> MBeans in your distributed system by using JConsole.

To view <span class="keyword">Geode</span> MBeans through JConsole, perform the following steps:

1.  Start a `gfsh` prompt.
2.  Connect to a running distributed system by either connecting to a locator with an embedded JMX Manager or connect directly to a JMX Manager. For example:

    ``` pre
    gfsh>connect --locator=locator1[10334]
    ```

    or

    ``` pre
    gfsh>connect --jmx-manager=locator1[1099]
    ```

3.  Start JConsole:

    ``` pre
    gfsh>start jconsole
    ```

    If successful, the message `Running JDK JConsole` appears. The JConsole application launches and connects directly to the JMX Manager using RMI.

4.  On the JConsole screen, click on the MBeans tab. Expand **GemFire**. Then expand each MBean to browse individual MBean attributes, operations and notifications.

    The following is an example screenshot of the MBean hierarchy in a <span class="keyword">Geode</span> distributed system:

    <img src="../../images/jconsole_mbeans.png" id="concept_492532E145834248997BD23BCAC7AD45__image_7A45BE69B67A44A7A8AD40343A2B0AEB" class="image" />


