---
title: Geode JMX MBean Notifications
---
<a id="topic_czt_hq2_vk"></a>


Apache Geode MBeans emit notifications when specific events occur or if an alert is raised in the Geode system. Using standard JMX APIs, users can add notification handlers to listen for these events.

-   **[Notification Federation](notification_federation_and_alerts.html)**

    All notifications emitted from managed nodes are federated to all JMX Managers in the system.

-   **[List of JMX MBean Notifications](list_of_mbean_notifications.html)**

    This topic lists all available JMX notifications emitted by Geode MBeans.


