---
title:  debug
---

Enable or disable debugging output in `gfsh`.

**Availability:** Online or offline.

**Syntax:**

``` pre
debug --state=value
```

<a id="concept_B70E7B27CEF1496CB3B7217B15FF4726__table_B6D7C12CE550464CB7D6B2159BD94A1E"></a>

| Name                                           | Description                                                                        | Default Value |
|------------------------------------------------|------------------------------------------------------------------------------------|---------------|
| <span class="keyword parmname">--state </span> | Whether to turn debugging ON or OFF. Valid options are: ON, OFF (Case insensitive) | OFF           |

: <span class="tablecap">Table 1. Parameters</span>

**Example Commands:**

``` pre
debug --state=off
debug --state=on
```

**Sample Output:**

``` pre
gfsh>debug --state=on
Debug is on
```


