<a id="concept_B8A3E21674294C65AE9F9A60F37A284E"></a>

# describe

Display details of a member's configuration, shell connection, disk-stores, members, or regions.

-   **[describe client](../../../tools_modules/gfsh/command-pages/describe.html#topic_gyr_jgz_ck)**

    Displays details about a specified client.

-   **[describe config](../../../tools_modules/gfsh/command-pages/describe.html#topic_3C2C817D999C4E40AF788808B7B6AF99)**

    Display the configuration of a member.

-   **[describe connection](../../../tools_modules/gfsh/command-pages/describe.html#topic_591DC6B781B641168E6173E69AC6D201)**

    Display connection information details.

-   **[describe disk-store](../../../tools_modules/gfsh/command-pages/describe.html#topic_C635B500BE6A4F1D9572D0BC98A224F2)**

    Display information about a member's disk store.

-   **[describe member](../../../tools_modules/gfsh/command-pages/describe.html#topic_D62F3D42B1D84CF68F03D54D5122806A)**

    Display details of a member with given name/id.

-   **[describe offline-disk-store](../../../tools_modules/gfsh/command-pages/describe.html#topic_kys_yvk_2l)**

    Display information about an offline member's disk store.

-   **[describe region](../../../tools_modules/gfsh/command-pages/describe.html#topic_DECF7D3D33F54071B6B8AD4EA7E3F90B)**

    Display the attributes and key information of a region.

<a id="topic_gyr_jgz_ck"></a>

## describe client

Displays details about a specified client.

**Availability:** Online. You must be connected in `gfsh` to a JMX Manager member to use this command.

**Syntax:**

``` pre
describe client --clientID=value
```

<a id="topic_gyr_jgz_ck__table_pzd_qdh_2w"></a>

| Name                                             | Description                                                                                                                                     |
|--------------------------------------------------|-------------------------------------------------------------------------------------------------------------------------------------------------|
| <span class="keyword parmname">--clientID</span> | *Required.* ID of the client. To find a client ID, you can use the `list clients` command to display a list of connected clients and their IDs. |

: <span class="tablecap">Table 1. Parameters</span>

**Example Commands:**

``` pre
describe client --clientID=172.16.196.144(4987:loner):58922:7b3398cf
```

**Sample Output:**

``` pre
gfsh>describe client --clientID=172.16.196.144(4987:loner):58922:7b3398cf
-------------------------------------------------------------------
Primary Servers                : 172.16.196.144(server1:5764)<v1>:15189
Secondary Servers              : 172.16.196.144(server2:5891)<v2>:39082
CPU                            : 0
Number of Cache Listner Calls  : 0
Number of Gets                 : 0
Number of Misses               : 0
Number of Puts                 : 0
Number of Threads              : 0
Process CPU Time (nanoseconds) : 0
Queue size                     : 1
UP Time (seconds)              : 67
Is Durable                     : No
```

<a id="topic_3C2C817D999C4E40AF788808B7B6AF99"></a>

## describe config

Display the configuration of a member.

**Availability:** Online. You must be connected in `gfsh` to a JMX Manager member to use this command.

**Syntax:**

``` pre
describe config --member=value [--hide-defaults(=value)?]
```

<a id="topic_3C2C817D999C4E40AF788808B7B6AF99__table_ohx_tdh_2w"></a>

| Name                                                  | Description                                                                      | Default Value |
|-------------------------------------------------------|----------------------------------------------------------------------------------|---------------|
| <span class="keyword parmname">--member </span>       | Name or ID of a member whose configuration is to be shown.                       |               |
| <span class="keyword parmname">--hide-defaults</span> | Whether to hide configuration information for properties with the default value. | true          |

: <span class="tablecap">Table 2. Parameters</span>

**Example Commands:**

``` pre
describe config --member=Member1;
```

**Sample Output:**

``` pre
gfsh>describe config --member=server1
Configuration of member : "server1"


JVM command line arguments
-----------------------------------
-Dgemfire.mcast-port=0
-Dgemfire.locators=localhost[10334]

GemFire properties defined using the API
................................................
log-file                                 : vf.gf.server.log
name                                     : server1

GemFire properties defined at the runtime
................................................
log-level                                 : finest
statistic-sampling-enabled                : true

Cache attributes
................................................
is-server        : true

Cache-server attributes
 . bind-address         : localhost
```

<a id="topic_591DC6B781B641168E6173E69AC6D201"></a>

## describe connection

Display connection information details.

**Availability:** Online. You must be connected in `gfsh` to a JMX Manager member to use this command.

**Syntax:**

``` pre
describe connection
```

**Example Commands:**

``` pre
describe connection
```

**Sample Output:**

``` pre
gfsh>describe connection
Connection Endpoints
--------------------
GemFireStymon[1099]
```

<a id="topic_C635B500BE6A4F1D9572D0BC98A224F2"></a>

## describe disk-store

Display information about a member's disk store.

**Availability:** Online. You must be connected in `gfsh` to a JMX Manager member to use this command.

**Syntax:**

``` pre
describe disk-store --member=value --name=value
```

<a id="topic_C635B500BE6A4F1D9572D0BC98A224F2__table_xs1_12h_2w"></a>

| Name                                           | Description                                                            |
|------------------------------------------------|------------------------------------------------------------------------|
| <span class="keyword parmname">--member</span> | *Required.* Name/ID of the member with the disk store to be described. |
| <span class="keyword parmname">--name </span>  | *Required*. Name of the disk store to be described.                    |

: <span class="tablecap">Table 3. Parameters</span>

**Example Commands:**

``` pre
describe disk-store --member=server1 --name=DiskStore1
```

**Sample Output:**

``` pre
gfsh>describe disk-store --name=disk1 --member=server1
Disk Store ID                      : a531bc7b-5188-4510-85d7-de7de30c6671
Disk Store Name                    : disk1
Member ID                          : ubuntu(server1:7467)<v1>:35249
Member Name                        : server1
Allow Force Compaction             : No
Auto Compaction                    : Yes
Compaction Threshold               : 50
Max Oplog Size                     : 1024
Queue Size                         : 0
Time Interval                      : 1000
Write Buffer Size                  : 32768
Disk Usage Warning Percentage      : 90
Disk Usage Critical Percentage     : 99
PDX Serialization Meta-Data Stored : No


        Disk Directory          | Size
------------------------------- | ----------
/home/stymon/server1/DiskStore1 | 2147483647
    
```

<a id="topic_D62F3D42B1D84CF68F03D54D5122806A"></a>

## describe member

Display details of a member with given name/id.

**Availability:** Online. You must be connected in `gfsh` to a JMX Manager member to use this command.

**Syntax:**

``` pre
describe member --name=value
```

<a id="topic_D62F3D42B1D84CF68F03D54D5122806A__table_psn_c2h_2w"></a>

| Name                                          | Description                                                                               |
|-----------------------------------------------|-------------------------------------------------------------------------------------------|
| <span class="keyword parmname">--name </span> | *Required.* Display information about a member, including name, ID, groups, regions, etc. |

: <span class="tablecap">Table 4. Parameters</span>

**Example Commands:**

``` pre
describe member --name=server1
```

**Sample Output:**

``` pre
gfsh>describe member --name=server1
Name        : server1
Id          : GemFireStymon(server1:240)<v1>:64871
Host        : 192.168.129.129
Regions     : region4
region5
region3
region2
region1

PID         : 240
Groups      :
Used Heap   : 5M
Max Heap    : 123M
Working Dir : c:\PivotalGemFire70\Latest\server1
Log file    : C:\PivotalGemFire70\Latest\server1\vf.gf.server.log
Locators    : localhost[10334]

Server Bind        : localhost
Server Port        : 40404
Running            : true
Client Connections : 0
```

<a id="topic_kys_yvk_2l"></a>

## describe offline-disk-store

Display information about an offline member's disk store.

**Availability:** Online. You must be connected in `gfsh` to a JMX Manager member to use this command.

**Syntax:**

``` pre
describe offline-disk-store --name=value --disk-dirs=value(,value)* [--pdx=value] [--region=value]
```

<a id="topic_kys_yvk_2l__table_rlg_f2h_2w"></a>

| Name                                               | Description                                                                  |
|----------------------------------------------------|------------------------------------------------------------------------------|
| <span class="keyword parmname">--name</span>       | *Required.* Name of the disk store to be described.                          |
| <span class="keyword parmname">--disk-dirs </span> | *Required.* Directory that contains the disk store files.                    |
| <span class="keyword parmname">--pdx</span>        | If set (or set to true), display all the pdx types stored in the disk store. |
| <span class="keyword parmname">--region</span>     | Name and path of the region in the disk store to be described.               |

: <span class="tablecap">Table 5. Parameters</span>

**Example Commands:**

``` pre
describe offline-disk-store --name=DiskStore1\
 --disk-dirs=/home/username/gemfire/mydiskStore1Dir

describe offline-disk-store --name=DiskStore1 --disk-dirs=/DiskDir1  --pdx=true
```

**Sample Output:**

``` pre
gfsh>describe offline-disk-store --name=DiskStore1 --disk-dirs=/DiskDir1 --pdx=true
Regions in the disk store:
  /PdxTypes: -lru=none -concurrencyLevel=16 -initialCapacity=16 -loadFactor=0.75 -compressor=none -statisticsEnabled=false
  /Region1: -lru=none -concurrencyLevel=16 -initialCapacity=16 -loadFactor=0.75 -compressor=none -statisticsEnabled=false
PDX Types:
  com.app.data.PositionPdx: id=1
    long avg20DaysVol;
    String bondRating;
    double convRatio;
    String country;
    double delta;
    long industry;
    long issuer;
    double mktValue;
    double qty;
    String secId; // identity
    String secIdIndexed;
    String secLinks;
    double sharesOutstanding;
    String underlyer;
    long volatility;
    int pid;
    int portfolioId;
  com.app.data.StockPdx: id=2
    int ID; // identity
    String pkid;
    Object position1;
    Object position2;
    Object positions;
    Object collectionHolderMap;
    String type;
    String status;
    String[] names;
    String description;
    long createTime;
    Object[] position3;
    Object aDay;
    Date date;
PDX Enums:
  com.app.data.StockPdx$Day.Monday
```

<a id="topic_DECF7D3D33F54071B6B8AD4EA7E3F90B"></a>

## describe region

Display the attributes and key information of a region.

**Availability:** Online. You must be connected in `gfsh` to a JMX Manager member to use this command.

**Syntax:**

``` pre
describe region --name=value
```

<a id="topic_DECF7D3D33F54071B6B8AD4EA7E3F90B__table_wvt_32h_2w"></a>

| Name                                          | Description                                          |
|-----------------------------------------------|------------------------------------------------------|
| <span class="keyword parmname">--name </span> | *Required.* Name/Path of the region to be described. |

: <span class="tablecap">Table 6. Parameters</span>

**Example Commands:**

``` pre
describe region --name=region1
```

**Sample Output:**

``` pre
gfsh>describe region --name=region1
..........................................................
Name            : region1
Data Policy     : normal
Hosting Members : server1
server2


Non-Default Attributes Shared By Hosting Members

 Type  |    Name     | Value
------ | ----------- | ------
Region | data-policy | NORMAL
       | size        | 0
```


