<a id="concept_B8A3E21674294C65AE9F9A60F37A284E"></a>

# export

Export configurations, data, logs and stack-traces.

-   **[export cluster-configuration](../../../../latest/tools_modules/gfsh/command-pages/export.html#topic_mdv_jgz_ck)**

    Exports a cluster configuration zip file that contains the `cache.xml` files, `gemfire.properties` files, and application jar files needed to configure and operate a <span class="keyword">GemFire</span> distributed system.

-   **[export config](../../../../latest/tools_modules/gfsh/command-pages/export.html#topic_C7C69306F93743459E65D46537F4A1EE)**

    Export configuration properties for a member or members.

-   **[export data](../../../../latest/tools_modules/gfsh/command-pages/export.html#topic_263B70069BFC4A7185F86B3272011734)**

    Export user data from a region to a file.

-   **[export logs](../../../../latest/tools_modules/gfsh/command-pages/export.html#topic_B80978CC659244AE91E2B8CE56EBDFE3)**

    Export logs to a given directory.

-   **[export offline-disk-store](../../../../latest/tools_modules/gfsh/command-pages/export.html#topic_sjg_bvt_gq)**

    Export region data from an offline disk store into gemfire snapshot files.

-   **[export stack-traces](../../../../latest/tools_modules/gfsh/command-pages/export.html#topic_195D27B8B2B64A4E84CF2256636D54BD)**

    Export the stack trace for a member or members.

<a id="topic_C7C69306F93743459E65D46537F4A1EE"></a>

## export config

Export configuration properties for a member or members.

If you do not specify any parameters, all member configuration will be exported.

**Availability:** Online. You must be connected in `gfsh` to a JMX Manager member to use this command.

**Syntax:**

``` pre
export config [--member=value(,value)*] [--group=value(,value)*] 
[--dir=value] 
```

<a id="topic_C7C69306F93743459E65D46537F4A1EE__table_u5w_2bh_2w"></a>

| Name                                           | Description                                                          |
|------------------------------------------------|----------------------------------------------------------------------|
| <span class="keyword parmname">--member</span> | Name/Id of the member(s) whose configuration will be exported.       |
| <span class="keyword parmname">--group</span>  | Group(s) of members whose configuration will be exported.            |
| <span class="keyword parmname">--dir</span>    | Directory to which the exported configuration files will be written. |

: <span class="tablecap">Table 1. Parameters</span>

**Example Commands:**

``` pre
export config
export config --member=member1
```

**Sample Output:**

``` pre
gfsh>export config --member=member1
Downloading Cache XML file: c:\PivotalGemFire70\Latest\.\member1-cache.xml
Downloading properties file: c:\PivotalGemFire70\Latest\.\member1-gf.properties
```

<a id="topic_mdv_jgz_ck"></a>

## export cluster-configuration

Exports a cluster configuration zip file that contains the `cache.xml` files, `gemfire.properties` files, and application jar files needed to configure and operate a <span class="keyword">GemFire</span> distributed system.

**Availability:** Online. You must be connected in `gfsh` to a JMX Manager member to use this command.

See[Overview of the Cluster Configuration Service](../../../configuring/cluster_config/gfsh_persist.html#concept_r22_hyw_bl).

**Syntax:**

``` pre
export cluster-configuration --zip-file-name=value [--dir=value]
```

<a id="topic_mdv_jgz_ck__table_qyw_hbh_2w"></a>

| Name                                                  | Description                                                                          | Default Value     |
|-------------------------------------------------------|--------------------------------------------------------------------------------------|-------------------|
| <span class="keyword parmname">--zip-file-name</span> | *Required.* File name of the zip file to contain the exported cluster configuration. |                   |
| <span class="keyword parmname">--dir</span>           | Directory where the cluster configuration zip files is saved.                        | Locator directory |

: <span class="tablecap">Table 2. Parameters</span>

**Example Commands:**

``` pre
gfsh>export cluster-configuration --zip-file-name=/home/username/gemfire80/myClusterConfig.zip
```

**Sample Output:**

``` pre
gfsh>export cluster-configuration --zip-file-name=mySharedConfig.zip
Downloading cluster configuration : /home/username/gemfire80/myClusterConfig.zip
```

<a id="topic_263B70069BFC4A7185F86B3272011734"></a>

## export data

Export user data from a region to a file.

**Availability:** Online. You must be connected in `gfsh` to a JMX Manager member to use this command.

**Syntax:**

``` pre
export data --region=value --file=value --member=value 
```

<a id="topic_263B70069BFC4A7185F86B3272011734__table_lds_lbh_2w"></a>

| Name                                           | Description                                                                                                                                     |
|------------------------------------------------|-------------------------------------------------------------------------------------------------------------------------------------------------|
| <span class="keyword parmname">--region</span> | *Required.* Region from which data is to be exported.                                                                                           |
| <span class="keyword parmname">--file</span>   | *Required.* File to which the exported data is to be written. The file must have an extension of `.gfd`.                                        |
| <span class="keyword parmname">--member</span> | *Required.* Name/Id of a member that hosts the region. The data will be exported to the specified file on the host where the member is running. |

: <span class="tablecap">Table 3. Parameters</span>

**Example Commands:**

``` pre
export data --region=region2 --file=region2_20121001.gfd --member=server2
 
```

**Sample Output:**

``` pre
 gfsh>export data --region=region2 --file=region2_20121001.gfd --member=server1
Data succesfully exported from region : region2 to file : C:\PivotalGemFire70\
Latest\server1\region2_20121001.gfd on host : 192.168.129.129
 
```

<a id="topic_B80978CC659244AE91E2B8CE56EBDFE3"></a>

## export logs

Export logs to a given directory.

All files that have logs in the specified time range will be exported. If no time range is specified, all logs will be exported.

**Availability:** Online. You must be connected in `gfsh` to a JMX Manager member to use this command.

**Syntax:**

``` pre
export logs --dir=value [--group=value(,value)*] [--member=value] [--log
-level=value] [--only-log-level=value] [--merge-log=value] [--start-time=value]
[--end-time=value]
```

<a id="topic_B80978CC659244AE91E2B8CE56EBDFE3__table_xw5_4bh_2w"></a>

| Name                                                   | Description                                                                                                                | Default Value |
|--------------------------------------------------------|----------------------------------------------------------------------------------------------------------------------------|---------------|
| <span class="keyword parmname">--dir</span>            | *Required.* Directory to which log files will be written.                                                                  |               |
| <span class="keyword parmname">--group</span>          | Group of members whose log files will be exported.                                                                         |               |
| <span class="keyword parmname">--member</span>         | Name/ID of the member whose log files will be exported.                                                                    |               |
| <span class="keyword parmname">--log-level</span>      | Minimum level of log entries to export. Valid values are: `none`, `error`, `info`, `config`, `fine`, `finer` and `finest`. | `info`        |
| <span class="keyword parmname">--only-log-level</span> | Whether to only include those entries that exactly match the <span class="keyword parmname">--log-level</span> specified.  | false         |
| <span class="keyword parmname">--merge-log</span>      | Whether to merge logs after exporting to the target directory.                                                             | false         |
| <span class="keyword parmname">--start-time</span>     | Log entries that occurred after this time will be exported. Format: yyyy/MM/dd/HH/mm/ss/SSS/z OR yyyy/MM/dd                | no limit      |
| <span class="keyword parmname">--end-time</span>       | Log entries that occurred before this time will be exported. Format: yyyy/MM/dd/HH/mm/ss/SSS/z OR yyyy/MM/dd               | no limit      |

: <span class="tablecap">Table 4. Parameters</span>

**Example Commands:**

``` pre
export logs --dir=data/logs
```

**Sample Output:**

``` pre
gfsh>export logs --dir=data/logs
Successfully exported to directory data/logs
```

<a id="topic_sjg_bvt_gq"></a>

## export offline-disk-store

Export region data from an offline disk store into gemfire snapshot files.

**Availability:** Online or offline.

**Syntax:**

``` pre
export offline-disk-store --name=value --disk-dirs=value(,value)* --dir=value
```

<a id="topic_sjg_bvt_gq__table_gzr_rbh_2w"></a>

| Name                                              | Description                                        |
|---------------------------------------------------|----------------------------------------------------|
| <span class="keyword parmname">--name</span>      | *Required.* Name of the disk store to be exported. |
| <span class="keyword parmname">--disk-dirs</span> | Directories which contain the disk store files.    |
| <span class="keyword parmname">--dir</span>       | Directory to export the snapshot files to.         |

: <span class="tablecap">Table 5. Parameters</span>

**Example Commands:**

``` pre
 export offline-disk-store --name= DiskStore1 \
--disk-dirs=/home/username/gemfire/mydiskStore1Dir --dir=/home/username/gemfire/export 
```

<a id="topic_195D27B8B2B64A4E84CF2256636D54BD"></a>

## export stack-traces

Export the stack trace for a member or members.

**Availability:** Online. You must be connected in `gfsh` to a JMX Manager member to use this command.

**Syntax:**

``` pre
export stack-traces --file=value [--member=value] [--group=value]
```

<a id="topic_195D27B8B2B64A4E84CF2256636D54BD__table_cjr_wbh_2w"></a>

| Name                                           | Description                                                     |
|------------------------------------------------|-----------------------------------------------------------------|
| <span class="keyword parmname">--file</span>   | *Required.* Filename to which the stack-traces will be written. |
| <span class="keyword parmname">--member</span> | Name or ID of the member whose log files will be exported.      |
| <span class="keyword parmname">--group</span>  | Group of members whose log files will be exported.              |

: <span class="tablecap">Table 6. Parameters</span>

**Example Commands:**

``` pre
export stack-traces --file=stack.txt
```

**Sample Output:**

``` pre
gfsh>export stack-traces --file=stack.txt
stack-trace(s) exported to file: C:\PivotalGemFire70\Latest\locator1\stack.txt
On host : GemFireStymon
```


