---
title:  revoke missing-disk-store
---

Instruct the member(s) of a distributed system to stop waiting for a disk store to be available.

Only revoke a disk store if its files are lost as it will no longer be recoverable after revoking is initiated. Use the "show missing-disk-store" command to get descriptions of missing disk stores.

**Availability:** Online. You must be connected in `gfsh` to a JMX Manager member to use this command.

**Syntax:**

``` pre
revoke missing-disk-store --id=value
```

<a id="concept_22551CABF07B4512B5159DDAE036722D__table_ywr_rbg_2w"></a>

| Name | Description                                             |
|------|---------------------------------------------------------|
| `id` | *Required.* ID of the missing disk store to be revoked. |

: <span class="tablecap">Table 1. Parameters</span>

**Example Commands:**

``` pre
revoke missing-disk-store --id=60399215-532b-406f-b81f-9b5bd8d1b55a
```

**Sample Output:**

``` pre
gfsh>revoke missing-disk-store --id=60399215-532b-406f-b81f-9b5bd8d1b55a
Missing disk store successfully revoked
```

**Error Messages:**

Example of `revoke missing-disk-store` when the disk store cannot be found:

``` pre
gfsh> revoke missing-disk-store --id=60399215-532b-406f-b81f

Unable to find missing disk store to revoke
```


