---
title:  version
---

Display product version information.

**Availability:** Online or offline.

**Syntax:**

``` pre
version [-full]
```

<a id="concept_DEBBA885D95243ABA510416F731D0E75__table_uzb_f5g_2w"></a>

| Name                                          | Description                                             | Defalut Value |
|-----------------------------------------------|---------------------------------------------------------|---------------|
| <span class="keyword parmname">--full </span> | Specifies whether to show the full version information. | false         |

: <span class="tablecap">Table 1. Parameters</span>

**Example Commands:**

``` pre
version
version --full
```

**Sample Output:**

``` pre
gfsh>version
v8.0.0


gfsh>version --full
Java version:   8.0.0 build 48319 07/31/2014 17:26:09 PDT javac 1.6.0_26
Native version: native code unavailable
Source revision: 48319
Source repository: gemfire/branches/cedar_dev_Oct12
Running on: /192.168.129.145, 1 cpu(s), amd64 Linux 2.6.32-38-generic
```


