---
title:  HTTP Session Management Modules
---

The <span class="keyword">Pivotal GemFire</span> HTTP Session Management modules provide fast, scalable, and reliable session replication for HTTP servers without requiring application changes.

<span class="keyword">Pivotal GemFire</span> offers HTTP session management modules for tc Server, Tomcat, and AppServers.

These modules are included with the <span class="keyword">Pivotal GemFire</span> product distribution, and installation .zip files can be found in the `tools/Modules` directory of your product installation.

-   **[HTTP Session Management Quick Start](../../../latest/tools_modules/http_session_mgmt/quick_start.html)**

    In this section you download, install, and set up the HTTP Session Management modules.

-   **[Advantages of Using GemFire for Session Management](../../../latest/tools_modules/http_session_mgmt/http_why_use_gemfire.html)**

    The HTTP Session Management Module enables you to customize how you manage your session data.

-   **[Common Topologies for HTTP Session Management](../../../latest/tools_modules/http_session_mgmt/common_gemfire_topologies.html)**

    Decide which topology is best for your usage. The module configuration process is slightly different for each topology.

-   **[General Information on HTTP Session Management](../../../latest/tools_modules/http_session_mgmt/tc_additional_info.html)**

    This section provides information on sticky load balancers, session expiration, additional <span class="keyword">GemFire</span> property changes, serialization and more.

-   **[Session State Log Files](../../../latest/tools_modules/http_session_mgmt/session_state_log_files.html)**

    Several log files are written by the various parts of the session management code.

-   **[HTTP Session Management Module for Pivotal tc Server](../../../latest/tools_modules/http_session_mgmt/session_mgmt_tcserver.html)**

    This section describes how to set up and use the HTTP session management module with tc Server templates.

-   **[HTTP Session Management Module for Tomcat](../../../latest/tools_modules/http_session_mgmt/session_mgmt_tomcat.html)**

    You set up and use the module by modifying the Tomcat's `server.xml` and `context.xml` files.

-   **[HTTP Session Management Module for AppServers](../../../latest/tools_modules/http_session_mgmt/session_mgmt_weblogic.html)**

    You implement session caching with the HTTP Session Management Module for AppServers with a special filter, defined in the `web.xml`, which is configured to intercept and wrap all requests.


