---
title:  HTTP Session Management Module for Tomcat
---

You set up and use the module by modifying the Tomcat's `server.xml` and `context.xml` files.

For instructions specific to SpringSource tc Server templates, refer to [HTTP Session Management Module for Pivotal tc Server](session_mgmt_tcserver.html).

-   **[Installing the HTTP Module for Tomcat](../../tools_modules/http_session_mgmt/tomcat_installing_the_module.html)**

    This topic describes how to install the HTTP session management module for Tomcat.

-   **[Setting Up the HTTP Module for Tomcat](../../tools_modules/http_session_mgmt/tomcat_setting_up_the_module.html)**

    To use the <span class="keyword">Geode</span> HTTP module with Tomcat application servers, you will need to modify Tomcat's `server.xml` and `context.xml` files.

-   **[Changing the Default Geode Configuration in the Tomcat Module](../../tools_modules/http_session_mgmt/tomcat_changing_gf_default_cfg.html)**

    By default, the Tomcat module will run <span class="keyword">Geode</span> automatically with pre-configured settings. You can change these <span class="keyword">Geode</span> settings.


