---
title:  Installing the HTTP Module for Tomcat
---

This topic describes how to install the HTTP session management module for Tomcat.

1.  If you do not already have Tomcat installed, download the desired version from the [Apache Website](http://tomcat.apache.org/).
2.  The HTTP Session Management Module for Tomcat is included in the Pivotal <span class="keyword">GemFire</span> installation package. After you install <span class="keyword">Pivotal GemFire</span>, you will find the module in the `tools/Modules` directory of the installation.

3.  Unzip the module into the `$CATALINA_HOME` directory or wherever you installed the application server.
4.  Copy the following jar files to the `lib` directory of your Tomcat server (`$CATALINA_HOME/lib`):
    -   antlr jar
    -   fastutil jar
    -   geode-core jar
    -   javax.transaction-api jar
    -   jgroups jar
    -   log4j-api jar
    -   log4j-core jar
    -   log4j-jul jar


