<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <DataIOTests>
    <Byte>
      <byte value="0x11" />
    </Byte>
    <Boolean>
      <bool value="true" bytes="0x1" />
      <bool value="false" bytes="0x0" />
    </Boolean>
    <Int16>
      <short value="0x1122" bytes="0x11:0x22" />
    </Int16>
    <Int32>
      <int value="0x11223344" bytes="0x11:0x22:0x33:0x44" />
    </Int32>
    <Int64>
      <long value="0x1122334455667788" bytes="0x11:0x22:0x33:0x44:0x55:0x66:0x77:0x88" />
    </Int64>
    <Float>
      <float value="1.2" bytes="0x3f:0x99:0x99:0x9a" />
    </Float>
    <Double>
      <double value="1.2" bytes="0x3f:0xf3:0x33:0x33:0x33:0x33:0x33:0x33" />
    </Double>
    <ASCIIString>
      <ascii value="This is fun." byte0="0x00" byte1="0x0c" />
    </ASCIIString>
    <UTFString>
      <utf value="0x00:0x7f:0x80:0x81:0xffff" bytes="0x00:0x0a:0xc0:0x80:0x7f:0xc2:0x80:0xc2:0x81:0xef:0xbf:0xbf" />
    </UTFString>
  </DataIOTests>
</Settings>
