---
title:  Cache Initialization File (cache.xml)
---

To ease the task of managing the structure of the cache, you can define the default <span class="keyword">Geode</span> cache structure in an XML-based initialization file.

This section describes the file format of the `cache.xml` file and discusses its contents.

-   **[Cache Initialization File Basics](../../nativeclient/cache-init-file/file-basics.html)**

    The contents of the cache initialization file are used to populate or update a cache.

-   **[Example cache.xml File](../../nativeclient/cache-init-file/example-cache-file.html)**

    An example `cache.xml` file shows cache and region initialization for a client, presenting a subset of the possible data configurations.

-   **[Native Client Cache XML DTD](../../nativeclient/cache-init-file/cache-dtd.html)**

    The contents of the cache initialization file must conform to the data type definitions in `gfcpp-cache8000.dtd`.


