---
title:  Region Statistics
---

These methods help you to get the statistics of a region.

<a id="concept_7AA863080074439286F4F51048BC2159__section_8A343C8D6425469DA314D9A96E543A24"></a>
<table>
<colgroup>
<col width="50%" />
<col width="50%" />
</colgroup>
<tbody>
<tr class="odd">
<td><code class="ph codeph">creates</code></td>
<td>Total number of cache creates for this region.</td>
</tr>
<tr class="even">
<td><code class="ph codeph">puts</code></td>
<td>Total number of cache put operations for this region.</td>
</tr>
<tr class="odd">
<td><code class="ph codeph">putTime</code></td>
<td>Total time spent doing put operations for this region.</td>
</tr>
<tr class="even">
<td><code class="ph codeph">putAll</code></td>
<td>Total number of cache putAlls for this region.</td>
</tr>
<tr class="odd">
<td><code class="ph codeph">putAllTime</code></td>
<td>Total time spent doing putAll operations for this region.</td>
</tr>
<tr class="even">
<td><code class="ph codeph">gets</code></td>
<td>Total number of cache gets for this region.</td>
</tr>
<tr class="odd">
<td><code class="ph codeph">getTime</code></td>
<td><p>Total time spent doing get operations for this region.</p></td>
</tr>
<tr class="even">
<td><code class="ph codeph">getAll</code></td>
<td>Total number of cache getAlls for this region.</td>
</tr>
<tr class="odd">
<td><code class="ph codeph">getAllTime</code></td>
<td>Total time spent doing getAll operations for this region.</td>
</tr>
<tr class="even">
<td><code class="ph codeph">hits</code></td>
<td>Total number of cache hits for this region.</td>
</tr>
<tr class="odd">
<td><code class="ph codeph">misses</code></td>
<td>Total number of cache misses for this region.</td>
</tr>
<tr class="even">
<td><code class="ph codeph">entries</code></td>
<td>Current number of cache entries for this region.</td>
</tr>
<tr class="odd">
<td><code class="ph codeph">destroys</code></td>
<td>Total number of cache destroys for this region.</td>
</tr>
<tr class="even">
<td><code class="ph codeph">clears</code></td>
<td>Total number of cache clears for this region.</td>
</tr>
<tr class="odd">
<td><code class="ph codeph">overflows</code></td>
<td>Total number of cache overflows to disk for this region.</td>
</tr>
<tr class="even">
<td><code class="ph codeph">retrieves</code></td>
<td>Total number of cache entries fetched from disk into the cache region.</td>
</tr>
<tr class="odd">
<td><code class="ph codeph">nonSingleHopCount</code></td>
<td>Total number of times client request required multiple hops.</td>
</tr>
<tr class="even">
<td><code class="ph codeph">metaDataRefreshCount</code></td>
<td>Total number of times metadata was refreshed due to the observation of multiple hops.</td>
</tr>
<tr class="odd">
<td><code class="ph codeph">cacheLoaderCallCompleted</code></td>
<td>Total number of times a load has completed for this region.</td>
</tr>
<tr class="even">
<td><code class="ph codeph">cacheLoaderCallTime</code></td>
<td>Total time spent invoking the loaders for this region.</td>
</tr>
<tr class="odd">
<td><code class="ph codeph">CacheWriterCallsCompleted</code></td>
<td>Total number of times a cache writer call has completed for this region.</td>
</tr>
<tr class="even">
<td><code class="ph codeph">CacheWriterCallTime</code></td>
<td>Total time spent doing cache writer calls.</td>
</tr>
<tr class="odd">
<td><code class="ph codeph">CacheListenerCallsCompleted</code></td>
<td>Total number of times a cache listener call has completed for this region.</td>
</tr>
<tr class="even">
<td><code class="ph codeph">CacheListenerCallTime</code></td>
<td>Total time spent doing cache listener calls for this region.</td>
</tr>
</tbody>
</table>


