---
title:  Continuous Querying
---

Continuous querying continuously returns events that match the queries you set up.

<a id="continuous__section_779B4E4D06E948618E5792335174E70D"></a>

-   **[How Continuous Querying Works](../../../latest/developing/continuous_querying/how_continuous_querying_works.html)**

    Clients subscribe to server-side events by using SQL-type query filtering. The server sends all events that modify the query results. CQ event delivery uses the client/server subscription framework.

-   **[Implementing Continuous Querying](../../../latest/developing/continuous_querying/implementing_continuous_querying.html)**

    Use continuous querying in your clients to receive continuous updates to queries run on the servers.

-   **[Managing Continuous Querying](../../../latest/developing/continuous_querying/continuous_querying_whats_next.html)**

    This topic discusses CQ management options, CQ states, and retrieving initial result sets.


