---
title:  Disk Store Management Commands and Operations
---

<!--
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<a id="concept_8E6C4AD311674880941DA0F224A7BF39__section_4AFD4B9EECDA448BA5235FB1C32A48F1"></a>
You can manage your disk stores using the gfsh command-line tool. For more information on `gfsh` commands, see [gfsh](../../tools_modules/gfsh/chapter_overview.html) and [Disk Store Commands](../../tools_modules/gfsh/quick_ref_commands_by_area.html#topic_1ACC91B493EE446E89EC7DBFBBAE00EA).

**Note:**
Each of these commands operates either on the online disk stores or offline disk stores, but not both.

| gfsh Command                  | Online or Offline Command | See . . .                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  |
|-------------------------------|---------------------------|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| `alter disk-store`            | Off                       | [Keeping a Disk Store Synchronized with the Cache](keeping_offline_disk_store_in_sync.html#syncing_offline_disk_store)                                                                                                                                                                                                                                                                                                                                                                                             |
| `compact disk-store`          | On                        | [Running Compaction on Disk Store Log Files](compacting_disk_stores.html#compacting_disk_stores)                                                                                                                                                                                                                                                                                                                                                                                                                   |
| `backup disk-store`           | On                        | [Creating Backups for System Recovery and Operational Management](backup_restore_disk_store.html#backup_restore_disk_store) |
| `compact offline-disk-store`  | Off                       | [Running Compaction on Disk Store Log Files](compacting_disk_stores.html#compacting_disk_stores)                                                                                                                                                                                                                                                                                                                                                                                                                   |
| `export offline-disk-store`   | Off                       | [Creating Backups for System Recovery and Operational Management](backup_restore_disk_store.html#backup_restore_disk_store) |
| `revoke missing-disk-store`   | On                        | [Handling Missing Disk Stores](handling_missing_disk_stores.html#handling_missing_disk_stores)                                                                                                                                                                                                                                                                                                                                                                                                                     |
| `show missing-disk-stores`    | On                        | [Handling Missing Disk Stores](handling_missing_disk_stores.html#handling_missing_disk_stores)                                                                                                                                                                                                                                                                                                                                                                                                                     |
| `shutdown`                    | On                        | [Start Up and Shut Down with Disk Stores](starting_system_with_disk_stores.html)                                                                                                                                                                                                                                                                                                             |
| `validate offline disk-store` | Off                       | [Validating a Disk Store](validating_disk_store.html#validating_disk_store)                                                                                                                                                                                                                                                                                                                                                                                                                                        |

For complete command syntax of any gfsh command, run `help                     <command>` at the gfsh command line.

## <a id="concept_8E6C4AD311674880941DA0F224A7BF39__section_885D2FD6C4D94664BE1DEE032153B819" class="no-quick-link"></a>Online Disk Store Operations

For online operations, `gfsh` must be connected to a distributed system via a JMX manager and sends the operation requests to the members that have disk stores. These commands will not run on offline disk stores.

## <a id="concept_8E6C4AD311674880941DA0F224A7BF39__section_5B001E58091D4CC1B83CFF9B895C7DA2" class="no-quick-link"></a>Offline Disk Store Operations

For offline operations, `gfsh` runs the command against the specified disk store and its specified directories. You must specify all directories for the disk store. For example:

``` pre
gfsh>compact offline-disk-store --name=mydiskstore --disk-dirs=MyDirs 
```

Offline operations will not run on online disk stores. The tool locks the disk store while it is running, so the member cannot start in the middle of an operation.

If you try to run an offline command for an online disk store, you get a message like this:

``` pre
gfsh>compact offline-disk-store --name=DEFAULT --disk-dirs=s1
This disk store is in use by another process. "compact disk-store" can 
be used to compact a disk store that is currently in use.
```
