---
title:  Validating a Disk Store
---

<!--
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<a id="validating_disk_store__section_1782CD93DB6040A2BF52014A6600EA44"></a>
The `validate offline-disk-store` command verifies the health of your offline disk store and gives you information about the regions in it, the total entries, and the number of records that would be removed if you compacted the store.

Use this command at these times:

-   Before compacting an offline disk store to help decide whether it’s worth doing.
-   Before restoring or modifying a disk store.
-   Any time you want to be sure the disk store is in good shape.

Example:

``` pre
gfsh>validate offline-disk-store --name=ds1 --disk-dirs=hostB/bupDirectory
```


