---
title:  Region Shortcuts Quick Reference
---

<!--
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

This section provides a quick reference for all region shortcuts.

<a id="reference_ufj_5kz_4k__section_6B142E06F22C4B0EACE7CA369F9C2618"></a>
[Region Shortcuts Default Configurations](#reference_ufj_5kz_4k__table_lkl_hws_mk) summarizes the default configurations for each region shortcut. See the cross reference for additional information about each shortcut.

<a id="reference_ufj_5kz_4k__table_lkl_hws_mk"></a>

Table 1. Region Shortcuts Default Configurations

| Region Shortcut  | Region Attributes  | Other Attributes |
|------------------|--------------------|-------------------|
| [LOCAL](region_shortcuts_reference.html#reference_w2h_3cd_lk)                                   | scope: local<br/>data-policy: NORMAL | |
| [LOCAL_HEAP_LRU](region_shortcuts_reference.html#reference_wd5_lpy_lk)                          | scope: local<br/>data-policy: NORMAL | **Eviction Attributes**<p>eviction-algorithm: lru-heap-percentage</p><p>eviction-action: local-destroy</p> |
| [LOCAL_OVERFLOW](region_shortcuts_reference.html#reference_adk_y4y_lk)                          | scope: local<br/>data-policy: NORMAL | **Eviction Attributes**<p>eviction-algorithm: lru-heap-percentage</p><p>eviction-action: overflow-to-disk</p> |
| [LOCAL_PERSISTENT](region_shortcuts_reference.html#reference_l5r_y4y_lk)                        | scope: local<br/>data-policy: PERSISTENT\_REPLICATE | |
| [LOCAL_PERSISTENT_OVERFLOW](region_shortcuts_reference.html#reference_a45_y4y_lk)               | scope: local<br/>data-policy: PERSISTENT\_REPLICATE | **Eviction Attributes**<p>eviction-algorithm: lru-heap-percentage</p><p>eviction-action: overflow-to-disk</p> |
| [PARTITION](region_shortcuts_reference.html#reference_ow5_4qy_lk)                               | data-policy: PARTITION | |
| [PARTITION_HEAP_LRU](region_shortcuts_reference.html#reference_twx_y4y_lk)                      | data-policy: PARTITION | **Eviction Attributes**<p>eviction-algorithm: lru-heap-percentage</p><p>eviction-action: local-destroy</p> |
| [PARTITION_OVERFLOW](region_shortcuts_reference.html#reference_js1_z4y_lk)                      | data-policy: PARTITION | **Eviction Attributes**<p>eviction-algorithm: lru-heap-percentage</p><p>eviction-action: overflow-to-disk</p> |
| [PARTITION_PERSISTENT](region_shortcuts_reference.html#reference_d4k_jpy_lk)                    | data-policy: PERSISTENT_PARTITION | |
| [PARTITION_PERSISTENT_OVERFLOW](region_shortcuts_reference.html#reference_v5l_jpy_lk)           | data-policy: PERSISTENT_PARTITION | **Eviction Attributes**<p>eviction-algorithm: lru-heap-percentage</p><p>eviction-action: overflow-to-disk</p> |
| [PARTITION_PROXY](region_shortcuts_reference.html#reference_v4m_jpy_lk)                         | data-policy: PARTITION | **Partition Attributes**<p>local-max-memory: 0</p>|
| [PARTITION_PROXY_REDUNDANT](region_shortcuts_reference.html#reference_c1n_jpy_lk)               | data-policy: PARTITION | **Partition Attributes**<p>local-max-memory: 0</p><p>redundant-copies: 1|
| [PARTITION_REDUNDANT](region_shortcuts_reference.html#reference_shn_jpy_lk)                     | data-policy: PARTITION | **Partition Attributes**<p>redundant-copies: 1|
| [PARTITION_REDUNDANT_HEAP_LRU](region_shortcuts_reference.html#reference_m4n_jpy_lk)            | data-policy: PARTITION | **Eviction Attributes**<p>eviction-algorithm: lru-heap-percentage</p><p>eviction-action: local-destroy</p><br/>**Partition Attributes**<p>redundant-copies: 1</p> |
| [PARTITION_REDUNDANT_OVERFLOW](region_shortcuts_reference.html#reference_own_jpy_lk)            | data-policy: PARTITION | **Eviction Attributes**<p>eviction-algorithm: lru-heap-percentage</p><p>eviction-action: overflow-to-disk</p><br/>**Partition Attributes**<p>redundant-copies: 1 |
| [PARTITION_REDUNDANT_PERSISTENT](region_shortcuts_reference.html#reference_bd4_jpy_lk)          | data-policy: PERSISTENT_PARTITION | **Partition Attributes**<p>redundant-copies: 1 |
| [PARTITION_REDUNDANT_PERSISTENT_OVERFLOW](region_shortcuts_reference.html#reference_xqq_tvc_lk) | data-policy: PERSISTENT_PARTITION | **Eviction Attributes**<p>eviction-algorithm: lru-heap-percentage</p><p>eviction-action: overflow-to-disk</p><br/>**Partition Attributes**<p>redundant-copies: 1 |
| [REPLICATE](region_shortcuts_reference.html#reference_wq4_jpy_lk)                               | data-policy: REPLICATE<br/>scope: distributed-ack | |
| [REPLICATE_HEAP_LRU](region_shortcuts_reference.html#reference_xx4_jpy_lk)                      | data-policy: PRELOADED<br/>scope: distributed-ack | **Eviction Attributes**<p>eviction-algorithm: lru-heap-percentage</p><p>eviction-action: local-destroy</p><p>*Note:* Normally, you cannot have a `local-destroy` eviction policy on replicated regions. However, the REPLICATE_HEAP_LRU region is not the same as other replicated regions. This region is preloaded and remains in synch by registering interest in the keys of its peer’s replicated regions.</p><br/>**Subscription Attributes**<p>interest-policy: all |
| [REPLICATE_OVERFLOW](region_shortcuts_reference.html#reference_t2p_jpy_lk)                      | data-policy: REPLICATE<br/>scope: distributed-ack | **Eviction Attributes**<p>eviction-algorithm: lru-heap-percentage</p><p>eviction-action: overflow-to-disk</p>|
| [REPLICATE_PERSISTENT](region_shortcuts_reference.html#reference_emp_jpy_lk)                    | data-policy: PERSISTENT_REPLICATE<br/>scope: distributed-ack | |
| [REPLICATE_PERSISTENT_OVERFLOW](region_shortcuts_reference.html#reference_tsp_jpy_lk)           | data-policy: PERSISTENT_REPLICATE<br/>scope: distributed-ack | **Eviction Attributes**<p>eviction-algorithm: lru-heap-percentage</p><p>eviction-action: overflow-to-disk</p>|
| [REPLICATE_PROXY](region_shortcuts_reference.html#reference_n1q_jpy_lk)                         | data-policy: EMPTY<br/>scope: distributed-ack | |



