---
title:  Executing Functions
---

Using the <span class="keyword">Geode</span> function execution service, you can execute application functions on a single server member, in parallel on a subset of server members, or in parallel on all server members of a distributed system.

In these procedures, it is assumed that you have defined your client and server regions, and that you have coded and configured your servers to run your functions. In [Function Execution](../../developing/function_exec/chapter_overview.html), see the function execution information for the server side.

-   **[Running the Function](../../nativeclient/function-execution/running-function.html)**

    In this section you create an `Execution` object and use its methods to define and run the function. To run a function with high availability, you call `getResult` from the results collector returned from the `execute` method.

-   **[Programming to Get Function Results](../../nativeclient/function-execution/handling-function-results.html)**

    <span class="keyword">Geode</span> provides a default result collector. If you need special results handling, code a custom `ResultsCollector` implementation to replace the provided default. Use the `Execution::withCollector` method to define your custom collector.

-   **[Solutions and Use Cases](../../nativeclient/function-execution/solutions-use-cases.html)**

    The function execution service provides solutions for various application use cases.


