---
title:  Continuous Querying
---

<!--
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

Continuous querying continuously returns events that match the queries you set up.

<a id="continuous__section_779B4E4D06E948618E5792335174E70D"></a>

-   **[How Continuous Querying Works](../../developing/continuous_querying/how_continuous_querying_works.html)**

    Clients subscribe to server-side events by using SQL-type query filtering. The server sends all events that modify the query results. CQ event delivery uses the client/server subscription framework.

-   **[Implementing Continuous Querying](../../developing/continuous_querying/implementing_continuous_querying.html)**

    Use continuous querying in your clients to receive continuous updates to queries run on the servers.

-   **[Managing Continuous Querying](../../developing/continuous_querying/continuous_querying_whats_next.html)**

    This topic discusses CQ management options, CQ states, and retrieving initial result sets.


