---
title:  Data Entries
---

The data entry is the key/value pair where you store your data. You can manage your entries individually and in batches. To use domain objects for your entry values and keys, you need to follow <span class="keyword">Apache Geode</span> requirements for data storage and distribution.

-   **[Managing Data Entries](../../basic_config/data_entries_custom_classes/managing_data_entries.html)**

    Program your applications to create, modify, and manage your cached data entries.

-   **[Requirements for Using Custom Classes in Data Caching](../../basic_config/data_entries_custom_classes/using_custom_classes.html)**

    Follow these guidelines to use custom domain classes for your cached entry keys and values.


