---
title:  gfsh (<span class="keyword">Geode</span> SHell)
---

<span class="keyword">Geode</span> gfsh (pronounced "gee-fish") provides a single, powerful command-line interface from which you can launch, manage, and monitor <span class="keyword">Geode</span> processes, data, and applications.

-   **[What You Can Do with gfsh](../../tools_modules/gfsh/about_gfsh.html)**

    `gfsh` supports the administration, debugging, and deployment of <span class="keyword">Apache Geode</span> processes and applications.

-   **[Starting gfsh](../../tools_modules/gfsh/starting_gfsh.html)**

    Before you start gfsh, confirm that you have set JAVA\_HOME and that your PATH variable includes the gfsh executable.

-   **[Configuring the gfsh Environment](../../tools_modules/gfsh/configuring_gfsh.html)**

    The `gfsh.bat` and `gfsh` bash script automatically append the required <span class="keyword">Apache Geode</span> and JDK .jar libraries to your existing CLASSPATH. There are user-configurable properties you can set for security, environment variables, logging, and troubleshooting.

-   **[Useful gfsh Shell Variables](../../tools_modules/gfsh/useful_gfsh_shell_variables.html)**

    You can use the built-in `gfsh` shell variables in scripts.

-   **[Basic Shell Features and Command-Line Usage](../../tools_modules/gfsh/getting_started_gfsh.html)**

    The `gfsh` utility provides useful features for a shell environment, including command auto-complete, preserved command history, and delimiting of multi-line commands. Context-sensitive help is available by command and by topic.

-   **[Tutorial—Performing Common Tasks with gfsh](../../tools_modules/gfsh/tour_of_gfsh.html)**

    This topic takes you through a typical sequence of tasks that you execute after starting `gfsh`.

-   **[Quick Reference of gfsh Commands by Functional Area](../../tools_modules/gfsh/gfsh_quick_reference.html)**

    This quick reference sorts all commands into functional areas.

-   **[gfsh Command Help](../../tools_modules/gfsh/gfsh_command_index.html)**

    This section provides help and usage information on all `gfsh` commands, listed alphabetically.

-   **[Creating and Running gfsh Command Scripts](../../tools_modules/gfsh/command_scripting.html)**

    gfsh offers several ways to run commands in a scripting environment.

-   **[Running gfsh Commands on the OS Command Line](../../tools_modules/gfsh/os_command_line_execution.html)**

-   **[Mapping of cache.xml Elements to gfsh Configuration Commands.](../../tools_modules/gfsh/cache_xml_2_gfsh.html)**

    You can configure a <span class="keyword">Geode</span> cluster using either cache.xml files, or you can use gfsh and the cluster configuration service to configure a cluster. This section maps cache.xml elements to the gfsh commands that configure and manage a cluster.


