---
title:  Creating and Running gfsh Command Scripts
---

gfsh offers several ways to run commands in a scripting environment.

<a id="concept_9B2F7550F16C4717831AD40A56922259__section_037953D46A644471910B295001E5CE6B"></a>
## Running gfsh Scripts

You can create and run scripts that contain gfsh commands that you wish to execute. To execute the script, use the gfsh [run](command-pages/run.html) command. For example:

``` pre
gfsh run --file=mycommands.gfsh
```

**Note:**
When you run a gfsh script, interactive parameters are ignored. You can also set the script to run in quiet mode to prevent output and instruct the script to skip any errors it encounters.

Your command history file can be helpful when you write a gfsh script. A history of commands that have been executed successfully is logged in the `.gfsh.history` file in the home directory of the user running gfsh. You can also export a history file with the `history                     --file=your_file_name` command.


