---
title:  Running gfsh Commands on the OS Command Line
---

<a id="topic_fpf_y1g_tp__section_4BACD4EE33934083AC7046DF8B0A753A"></a>
You can run some `gfsh` commands directly from your operating system's prompt by preceding the command with `gfsh`. This can be useful for Unix shell or Windows batch scripting. For example:

``` pre
$ gfsh start locator --name=locator2 --port=10335
```

To see which gfsh commands are available directly on the prompt:

``` pre
$ gfsh help
```

## Running Multiple gfsh Commands on the OS Command Line

To run multiple commands directly on the command line,
use the `-e` option followed by the `gfsh` command within
quote marks. For example:

``` pre
prompt>gfsh -e "start locator --name=locator1" -e "start server --name=server1"

prompt>gfsh -e "start jconsole"

prompt>gfsh -e "connect --locators=remotehost[10334]" -e "rebalance" -e "gc"
    
```


