---
title:  InitialCapacity
---

<a id="initial-capacity__section_AB0163B072DA4DA0B858293CA02E91A1"></a>
Use this attribute, together with the `LoadFactor` attribute, to set the initial parameters on the underlying hashmap that stores region entries. This is the number of entries that the region map will be ready to hold when it is created.

This declaration sets the region's initial capacity to `10000`:

``` pre
<region-attributes initial-capacity="10000">
</region-attributes>
```


