---
title:  LoadFactor
---

<a id="load-factor__section_D4102F0D396E4E2DA05654A20FA0723D"></a>
Use this attribute, together with the `InitialCapacity` attribute, to set the initial parameters on the underlying hashmap that stores region entries. When the number of entries in the map exceeds the `LoadFactor` times current capacity, the capacity is increased and the map is rehashed. You get the best performance if you configure a properly sized region at the start and do not have to rehash it.

This declaration sets the region's load factor to `0.75` :

``` pre
<region-attributes load-factor="0.75">
</region-attributes>
```


