<a id="topic_3751C8A924884B7F88F993CAD350D4FE"></a>

# Gemcached

Gemcached is a <span class="keyword">GemFire</span> adapter that allows Memcached clients to communicate with a <span class="keyword">GemFire</span> server cluster, as if the servers were memcached servers. Memcached is an open-source caching solution that uses a distributed, in-memory hash map to store key-value pairs of string or object data.

For information about Memcached, see [http://www.memcached.org](http://www.memcached.org).

-   **[How Gemcached Works](../../../latest/tools_modules/gemcached/about_gemcached.html)**

    Applications use memcached clients to access data stored in embedded Gemcached servers.

-   **[Deploying and Configuring a Gemcached Server](../../../latest/tools_modules/gemcached/deploying_gemcached.html)**

    You can configure and deploy Gemcached servers in a Java class or by using the gfsh command-line interface.

-   **[Advantages of Gemcached over Memcached](../../../latest/tools_modules/gemcached/advantages.html)**

    The standard memcached architecture has inherent architectural challenges that make memcached applications difficult to write, maintain, and scale. Using Gemcached with Pivotal <span class="keyword">GemFire</span> addresses these challenges.


