<a id="topic_e15_mr3_5k"></a>

# <span class="keyword">Geode</span> Cache Transactions

Use <span class="keyword">Geode</span> cache transactions to group the execution of cache operations and to gain the control offered by transactional commit and rollback. <span class="keyword">Geode</span> cache transactions control operations within the <span class="keyword">Geode</span> cache while the <span class="keyword">Geode</span> distributed system handles data distribution in the usual way.

-   **[Cache Transaction Performance](../../developing/transactions/cache_transaction_performance.html)**

    Cache transaction performance can vary depending on the type of regions you are using.

-   **[Data Location for Cache Transactions](../../developing/transactions/data_location_cache_transactions.html)**

    The location where you can run your transaction depends on where you are storing your data.

-   **[How to Run a Geode Cache Transaction](../../developing/transactions/run_a_cache_transaction.html)**

    This topic describes how to run a <span class="keyword">Geode</span> cache transaction.

-   **[How to Run a Geode Cache Transaction that Coordinates with an External Database](../../developing/transactions/run_a_cache_transaction_with_external_db.html)**

    Coordinate a <span class="keyword">Geode</span> cache transaction with an external database by using CacheWriter/CacheListener and TransactionWriter/TransactionListener plug-ins, **to provide an alternative to using JTA transactions**.

-   **[Working with Geode Cache Transactions](../../developing/transactions/working_with_transactions.html)**

    This section contains guidelines and additional information on working with <span class="keyword">Geode</span> and its cache transactions.

-   **[How Geode Cache Transactions Work](../../developing/transactions/how_cache_transactions_work.html#topic_fls_1j1_wk)**

    This section provides an explanation of how transactions work on <span class="keyword">Geode</span> caches.


