---
title:  Transactions
---

<span class="keyword">GemFire</span> provides a transactions API, with `begin`, `commit`, and `rollback` methods. These methods are much the same as the familiar relational database transactions methods.

-   **[About Transactions](../../../latest/developing/transactions/about_transactions.html)**

    This section covers the features of <span class="keyword">GemFire</span> transactions.

-   **[Types of Transactions](../../../latest/developing/transactions/about_transactions.html#concept_w3b_wh3_5k)**

    <span class="keyword">GemFire</span> supports two kinds of transactions: **<span class="keyword">GemFire</span> cache transactions** and **JTA global transactions**.

-   **[GemFire Cache Transactions](../../../latest/developing/transactions/cache_transactions.html)**

    Use <span class="keyword">GemFire</span> cache transactions to group the execution of cache operations and to gain the control offered by transactional commit and rollback. <span class="keyword">GemFire</span> cache transactions control operations within the <span class="keyword">GemFire</span> cache while the <span class="keyword">GemFire</span> distributed system handles data distribution in the usual way.

-   **[JTA Global Transactions with GemFire](../../../latest/developing/transactions/JTA_transactions.html)**

    Use JTA global transactions to coordinate <span class="keyword">GemFire</span> cache transactions and JDBC transactions.

-   **[Monitoring and Troubleshooting Transactions](../../../latest/developing/transactions/monitor_troubleshoot_transactions.html)**

    This topic covers errors that may occur when running transactions in <span class="keyword">GemFire</span>.

-   **[Transaction Coding Examples](../../../latest/developing/transactions/transaction_coding_examples.html)**

    This section provides several code examples for writing and executing transactions.


