---
title:  Transaction Coding Examples
---

This section provides several code examples for writing and executing transactions.

-   **[Basic Transaction Example](../../../latest/developing/transactions/transactions_overview.html)**

    This example operates on two replicated regions. It begins a transaction, updates one entry in each region, and commits the result.

-   **[Basic Suspend and Resume Transaction Example](../../../latest/developing/transactions/transaction_suspend_resume_example.html)**

    This example suspends and resumes a transaction.

-   **[Transaction Embedded within a Function Example](../../../latest/developing/transactions/transactional_function_example.html)**

    This example demonstrates a function that does transactional updates to Customer and Order regions.

-   **[GemFire JTA Transaction Example](../../../latest/developing/transactions/transaction_jta_gemfire_example.html)**

    An example code fragment shows how to run a JTA global transaction using <span class="keyword">GemFire</span> as the JTA transaction manager.

-   **[JCA Resource Adapter Example](../../../latest/developing/transactions/jca_adapter_example.html)**

    This example shows how to use the JCA Resource Adapter in <span class="keyword">GemFire</span> .


