---
title:  How Client Load Balancing Works
---

In a distributed system, servers can be added or removed and their capacity to service new client connections may vary. The server connectivity options are specified in the connection pool configuration.

The <span class="keyword">Geode</span> connection pool API supports connecting to servers through server locators or directly connecting to servers.

-   **[Server Locators](../../nativeclient/connection-pools/about-server-locators.html)**

    Server locators continuously monitor server availability and server load information. The client is configured with a list of server locators and consults a server locator to request a connection to a server in the distributed system.

-   **[Connection Pools](../../nativeclient/connection-pools/about-connection-pools.html)**

    Clients contain connection pools. Each region is associated with a connection pool using a region attribute, and operations on the region use connections from the respective pools.

-   **[Discovering Locators Dynamically](../../nativeclient/connection-pools/discovering-locators-dynamically.html)**

    A background thread periodically queries the locator for any other locators joining the distributed system.


