---
title:  Configuring Pools
---

A pool can be configured as locators or as a list of servers.

You configure locator, server, and pool settings declaratively in the client's `cache.xml` file or programmatically through the `PoolFactory` method. You create an instance of `PoolFactory` through `PoolManager`.

-   **[Native Client Pool API](../../nativeclient/connection-pools/native-client-pool-api.html)**

    The <span class="keyword">Geode</span> native client API allows your clients to create and manage connection pools. The server side does not have an API.

-   **[Pool Configuration Example and Settings](../../nativeclient/connection-pools/configuring-pools-attributes-example.html)**

    Connection pools require standard client/server distributed system and cache configuration settings. You must also configure settings for the locator, server, and pool elements.

-   **[Subscription Properties](../../nativeclient/connection-pools/subscription-properties.html)**

    Each connection pool has a single subscription connection that can be to any server that matches the requirements of the connection pool.

-   **[Running the Connection Pool Code](../../nativeclient/connection-pools/running-connection-pool-code.html)**

    Examples demonstrate a simple procedure to create a pool factory and then create a pool instance in C++ and C\#. They also help you to execute a query.


