---
title:  Native Client Pool API
---

The <span class="keyword">Geode</span> native client API allows your clients to create and manage connection pools. The server side does not have an API.

This section lists the primary native client API for pool management. For complete information on the classes and interfaces described here, see the API documentation.

**Note:**
Only C\# versions of Pool API interfaces, classes, and methods are shown throughout the text in this section (example: `Pool.GetQueryService()`) . The code examples demonstrate both C++ and C\# versions.

**Gemstone::GemFire::Cache**

-   `Pool` interface. API to retrieve pool attributes.
-   `PoolFactory` interface. API to configure pool attributes.
-   `PoolManager` interface. API to create a `PoolFactory` object and to find the pool objects.
-   `AttributesFactory` class. Has a new method `setPoolname` which assigns a pool to a region. Operations performed on the configured region use connections from the pool.

**Note:**
A region can have a pool attached to it. A pool may have multiple regions attached to it.


