---
title: Quick Reference of gfsh Commands by Functional Area
---

<!--
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<a id="topic_1D44F3DEB9CE457DB3A65891003C6389"></a>


This quick reference sorts all commands into functional areas.

Click a command to see additional information, including syntax, a list of options, and examples.

-   **[Basic Geode gfsh Commands](quick_ref_commands_by_area.html#topic_77DA6E3929404EB4AC24230CC7C21493)**

-   **[Configuration Commands](quick_ref_commands_by_area.html#topic_EB854534301A477BB01058B3B142AE1D)**

-   **[Data Commands](quick_ref_commands_by_area.html#topic_C7DB8A800D6244AE8FF3ADDCF139DCE4)**

-   **[Deployment Commands](quick_ref_commands_by_area.html#topic_1B47A0E110124EB6BF08A467EB510412)**

-   **[Disk Store Commands](quick_ref_commands_by_area.html#topic_1ACC91B493EE446E89EC7DBFBBAE00EA)**

-   **[Durable CQ and Client Commands](quick_ref_commands_by_area.html#topic_10613D4850F04A3EB507F6B441AD3413)**

-   **[Function Execution Commands](quick_ref_commands_by_area.html#topic_8BB061D1A7A9488C819FE2B7881A1278)**

-   **[Gateway (WAN) Commands](quick_ref_commands_by_area.html#topic_F0AE5CE40D6D49BF92247F5EF4F871D2)**

-   **[Geode Monitoring Commands](quick_ref_commands_by_area.html#topic_B742E9E862BA457082E2346581C97D03)**

-   **[Index Commands](quick_ref_commands_by_area.html#topic_688C66526B4649AFA51C0F72F34FA45E)**

-   **[JMX Connection Commands](quick_ref_commands_by_area.html#topic_2A6DA4078E4E496A9F725A29BC4CFD0D)**

-   **[Locator Commands](quick_ref_commands_by_area.html#topic_1C82E6F1B2AF4A65A8DA6B3C846BAC13)**

-   **[Lucene Commands](quick_ref_commands_by_area.html#topic_lucene_commands)**

-   **[PDX Commands](quick_ref_commands_by_area.html#topic_cvg_bls_5q)**

-   **[Region Commands](quick_ref_commands_by_area.html#topic_EF03119A40EE492984F3B6248596E1DD)**

-   **[Server Commands](quick_ref_commands_by_area.html#topic_8A341FF86958466E9E64CF06CD21FED9)**


