---
title:  Reference
---

*Reference* documents <span class="keyword">Pivotal GemFire</span> properties, region attributes, the `cache.xml` file, cache memory requirements, and statistics.

-   **[gemfire.properties and gfsecurity.properties (GemFire Properties)](../../latest/reference/topics/gemfire_properties.html)**

    You use the `gemfire.properties` settings to join a distributed system and configure system member behavior. Distributed system members include applications, the cache server, the locator, and other <span class="keyword">GemFire</span> processes.

-   **[cache.xml](../../latest/reference/topics/chapter_overview_cache_xml.html)**

    Use the cache.xml file to set up general cache facilities and behavior and to create and initialize cached data regions. These sections document cache.xml requirements; provide hierarchical diagrams of `<cache>` and `<client-cache>      `elements; and describe the function of each element.

-   **[Region Shortcuts](../../latest/reference/topics/chapter_overview_regionshortcuts.html)**

    This topic describes the various region shortcuts you can use to configure <span class="keyword">GemFire</span> regions.

-   **[Exceptions and System Failures](../../latest/reference/topics/handling_exceptions_and_failures.html)**

    Your application needs to catch certain classes to handle all the exceptions and system failures thrown by <span class="keyword">Pivotal GemFire</span>.

-   **[Memory Requirements for Cached Data](../../latest/reference/topics/memory_requirements_for_cache_data.html)**

    <span class="keyword">GemFire</span> solutions architects need to estimate resource requirements for meeting application performance, scalability and availability goals.

-   **[GemFire Statistics List](../../latest/reference/statistics/statistics_list.html)**

    This section describes the primary statistics gathered by <span class="keyword">GemFire</span> when statistics are enabled.


