---
title:  Remote Querying Basics
---

Use the <span class="keyword">Geode</span> native client query API to query your cached data stored on a <span class="keyword">Geode</span> cache server. The query is evaluated and executed on the cache server, and the results are returned to the native client.

You can also optimize your queries by defining indexes on the cache server.

The query language for the native client is essentially a subset of OQL (ODMG 3.0 Object Data Management Group, [http://www.odmg.org](http://www.odmg.org).), which is based on SQL-92. OQL is a SQL-like language with extended functionality for querying complex objects, object attributes, and methods.

It is assumed that you have general familiarity with SQL querying and indexing, and with the information on the native client cache.

The online C++ and .NET API documentation for the native client provides extensive details for all of the querying interfaces, classes and methods.

Query language features and grammar are described at [Querying](../../../developing/querying_basics/chapter_overview.html). This section describes areas that are unique to the native client.

If you are using the pool API, you should obtain the QueryService from the pool . For information about the pool API, see [Native Client Pool API](../../connection-pools/native-client-pool-api.html#native-client-pool-api).

-   **[Examples Data and Class Definitions](../../../nativeclient/remote-querying/91-quickintro/4-quickintro-exampleportfolioregion.html)**

    Examples show C++ and corresponding Java class definitions and sample data for the example `/portfolios` region. The region's keys are the portfolio ID.

-   **[Executing a Query from the Native Client](../../../nativeclient/remote-querying/91-quickintro/2-quickintro-querycodeexamples.html)**

    C\#/.NET and C++ examples show how to execute a query from the native client.

-   **[Querying the Portfolios Region](../../../nativeclient/remote-querying/91-quickintro/41-quickintro-query-portfolioregion.html)**

    Examples show a sampling of specific queries that you can run against `/portfolios` on the server.

-   **[Modifying Cache Contents](../../../nativeclient/remote-querying/91-quickintro/42-quickintro-modify-cachecontents.html)**

    To modify the cache based on information retrieved through querying, retrieve the entry keys and use them in the standard entry update methods.

-   **[Creating Indexes](../../../nativeclient/remote-querying/94-indexes/indexes-overview.html)**

    An index can provide significant performance gains for query execution. You create and maintain indexes on the cache server.

-   **[Remote Querying Requirements](../../../nativeclient/remote-querying/91-quickintro/3-quickintro-requirements.html)**

    Note the particular requirements for using region endpoints; setting server region data policy and scope; implementing equals and hashcode methods; and setting object type constraints.


