---
title:  Basic Configuration and Programming
---

*Basic Configuration and Programming* describes how to configure distributed system and cache properties for your <span class="keyword">Pivotal GemFire</span> installation. For your applications, it provides guidance for writing code to manage your cache and distributed system connection, data regions, and data entries, including custom classes.

-   **[Distributed System and Cache Configuration](../../latest/basic_config/config_concepts/chapter_overview.html)**

    To work with your <span class="keyword">Pivotal GemFire</span> applications, you use a combination of configuration files and application code.

-   **[Cache Management](../../latest/basic_config/the_cache/chapter_overview.html)**

    The <span class="keyword">GemFire</span> cache is the entry point to <span class="keyword">GemFire</span> caching management. <span class="keyword">GemFire</span> provides different APIs and XML configuration models to support the behaviors of different members.

-   **[Data Regions](../../latest/basic_config/data_regions/chapter_overview.html)**

    The region is the core building block of the <span class="keyword">Pivotal GemFire</span> distributed system. All cached data is organized into data regions and you do all of your data puts, gets, and querying activities against them.

-   **[Data Entries](../../latest/basic_config/data_entries_custom_classes/chapter_overview.html)**

    The data entry is the key/value pair where you store your data. You can manage your entries individually and in batches. To use domain objects for your entry values and keys, you need to follow <span class="keyword">Pivotal GemFire</span> requirements for data storage and distribution.


