//Licensed to the Apache Software Foundation (ASF) under one or more
//contributor license agreements.  See the NOTICE file distributed with
//this work for additional information regarding copyright ownership.
//The ASF licenses this file to You under the Apache License, Version 2.0
//(the "License"); you may not use this file except in compliance with
//the License.  You may obtain a copy of the License at
//
//http://www.apache.org/licenses/LICENSE-2.0
//
//Unless required by applicable law or agreed to in writing, software
//distributed under the License is distributed on an "AS IS" BASIS,
//WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
//express or implied. See the License for the specific language governing
//permissions and limitations under the License.

$navy: #243640;
$blue1: #2185c5;
$blue2: #a7cae1;
$bluegray1: #4b6475;
$teal1: #03786D;
$teal2: #00a79d;

$color-accent: $teal1;
$color-accent-bright: $teal2;

// link colors
$color-link: $blue1;
$color-link-border: $blue2;

$color-border-tip: $blue2;

$color-bg-header: $navy;
$color-bg-dark: $bluegray1;
