$navy: #243640;
$blue1: #2185c5;
$blue2: #a7cae1;
$bluegray1: #4b6475;
$teal1: #03786D;
$teal2: #00a79d;

$color-accent: $teal1;
$color-accent-bright: $teal2;

// link colors
$color-link: $blue1;
$color-link-border: $blue2;

$color-border-tip: $blue2;

$color-bg-header: $navy;
$color-bg-dark: $bluegray1;

