---
title: List of Geode JMX MBeans
---

<!--
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<a id="topic_4BCF867697C3456D96066BAD7F39FC8B"></a>


This topic provides descriptions for the various management and monitoring MBeans that are available in Geode.

The following diagram illustrates the relationship between the different JMX MBeans that have been developed to manage and monitor Apache Geode.

<img src="../../images_svg/MBeans.svg" id="topic_4BCF867697C3456D96066BAD7F39FC8B__image_66525625D6804EDE9675D6CE509360A3" class="image" />

-   **[JMX Manager MBeans](list_of_mbeans_full.html)**

    This section describes the MBeans that are available on the JMX Manager node.

-   **[Managed Node MBeans](list_of_mbeans_full.html#topic_48194A5BDF3F40F68E95A114DD702413)**

    This section describes the MBeans that are available on all managed nodes.


