---
title: JMX Manager MBeans
---

<!--
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<a id="topic_14E3721DD0CF47D7AD8C742DFBE9FB9C"></a>


This section describes the MBeans that are available on the JMX Manager node.

The JMX Manager node includes all local beans listed under [Managed Node MBeans](list_of_mbeans_full.html#topic_48194A5BDF3F40F68E95A114DD702413) and the following beans that are available only on the JMX Manager node:

-   [ManagerMXBean](list_of_mbeans_full.html#topic_14E3721DD0CF47D7AD8C742DFBE9FB9C__section_7B878B450B994514BDFE96571F0D3827)
-   [DistributedSystemMXBean](list_of_mbeans_full.html#topic_14E3721DD0CF47D7AD8C742DFBE9FB9C__section_4D7A4C82DD974BB5A5E52B34A6D888B4)
-   [DistributedRegionMXBean](list_of_mbeans_full.html#topic_14E3721DD0CF47D7AD8C742DFBE9FB9C__section_48384B091AB846E591F22EEA2770DD36)
-   [DistributedLockServiceMXBean](list_of_mbeans_full.html#topic_14E3721DD0CF47D7AD8C742DFBE9FB9C__section_9E004D8AA3D24647A5C19CAA1879F0A4)

## <a id="topic_14E3721DD0CF47D7AD8C742DFBE9FB9C__section_7B878B450B994514BDFE96571F0D3827" class="no-quick-link"></a>ManagerMXBean

Represents the Geode Management layer for the hosting member. Controls the scope of management. This MBean provides `start` and `stop` methods to turn a managed node into a JMX Manager node or to stop a node from being a JMX Manager. For potential managers (`jmx-manager=true` and `jmx-manager-start=false`), this MBean is created when a Locator requests it.

**Note:**
You must configure the node to allow it to become a JMX Manager. See [Configuring a JMX Manager](jmx_manager_operations.html#topic_263072624B8D4CDBAD18B82E07AA44B6) for configuration information.

**MBean Details**

|                    |                                                                            |
|--------------------|----------------------------------------------------------------------------|
| Scope              | ALL                                                                        |
| Proxied            | No                                                                         |
| Object Name        | GemFire:type=Member, service=Manager,member=&lt;name-or-dist-member-id&gt; |
| Instances Per Node | 1                                                                          |

See the `org.apache.geode.management.ManagerMXBean` JavaDocs for information on available MBean methods and attributes.

## <a id="topic_14E3721DD0CF47D7AD8C742DFBE9FB9C__section_4D7A4C82DD974BB5A5E52B34A6D888B4" class="no-quick-link"></a>DistributedSystemMXBean

System-wide aggregate MBean that provides a high-level view of the entire distributed system including all members (cache servers, peers, locators) and their caches. At any given point of time, it can provide a snapshot of the complete distributed system and its operations.

The DistributedSystemMXBean provides APIs for performing distributed system-wide operations such as backing up all members, shutting down all members or showing various distributed system metrics.

You can attach a standard JMX NotificationListener to this MBean to listen for notifications throughout the distributed system. See [Geode JMX MBean Notifications](mbean_notifications.html) for more information.

This MBean also provides some MBean model navigation APIS. These APIs should be used to navigate through all the MBeans exposed by a Geode System.

**MBean Details**

|                    |                                         |
|--------------------|-----------------------------------------|
| Scope              | Aggregate                               |
| Proxied            | No                                      |
| Object Name        | GemFire:type=Distributed,service=System |
| Instances Per Node | 1                                       |

See the `org.apache.geode.management.DistributedSystemMXBean` JavaDocs for information on available MBean methods and attributes.

## <a id="topic_14E3721DD0CF47D7AD8C742DFBE9FB9C__section_48384B091AB846E591F22EEA2770DD36" class="no-quick-link"></a>DistributedRegionMXBean

System-wide aggregate MBean of a named region. It provides a high-level view of a region for all members hosting and/or using that region. For example, you can obtain a list of all members that are hosting the region. Some methods are only available for partitioned regions.

**MBean Details**

|                    |                                                                 |
|--------------------|-----------------------------------------------------------------|
| Scope              | Aggregate                                                       |
| Proxied            | No                                                              |
| Object Name        | GemFire:type=Distributed,service=Region,name=&lt;regionName&gt; |
| Instances Per Node | 0..N                                                            |

See the `org.apache.geode.management.DistributedRegionMXBean` JavaDocs for information on available MBean methods and attributes.

## <a id="topic_14E3721DD0CF47D7AD8C742DFBE9FB9C__section_9E004D8AA3D24647A5C19CAA1879F0A4" class="no-quick-link"></a>DistributedLockServiceMXBean

Represents a named instance of DistributedLockService . Any number of DistributedLockService can be created in a member.

A named instance of DistributedLockService defines a space for locking arbitrary names across the distributed system defined by a specified distribution manager. Any number of DistributedLockService instances can be created with different service names. For all processes in the distributed system that have created an instance of DistributedLockService with the same name, no more than one thread is permitted to own the lock on a given name in that instance at any point in time. Additionally, a thread can lock the entire service, preventing any other threads in the system from locking the service or any names in the service.

**MBean Details**

|                    |                                                                   |
|--------------------|-------------------------------------------------------------------|
| Scope              | Aggregate                                                         |
| Proxied            | No                                                                |
| Object Name        | GemFire:type=Distributed,service=LockService,name=&lt;dlsName&gt; |
| Instances Per Node | 0..N                                                              |

See the `org.apache.geode.management.DistributedLockServiceMXBean` JavaDocs for information on available MBean methods and attributes.

## <a id="topic_48194A5BDF3F40F68E95A114DD702413" class="no-quick-link"></a>Managed Node MBeans

This section describes the MBeans that are available on all managed nodes.

MBeans that are available on all managed nodes include:

-   [MemberMXBean](list_of_mbeans_full.html#topic_48194A5BDF3F40F68E95A114DD702413__section_796A989549304BF7A536A33A913322A4)
-   [CacheServerMXBean](list_of_mbeans_full.html#topic_48194A5BDF3F40F68E95A114DD702413__section_7287A7560650426E9B8249E2D87CE55F)
-   [RegionMXBean](list_of_mbeans_full.html#topic_48194A5BDF3F40F68E95A114DD702413__section_577A666924E54352AF69294DC8DEFEBF)
-   [LockServiceMXBean](list_of_mbeans_full.html#topic_48194A5BDF3F40F68E95A114DD702413__section_2F9F00081BB14CE0ADA251F5B6289BF2)
-   [DiskStoreMXBean](list_of_mbeans_full.html#topic_48194A5BDF3F40F68E95A114DD702413__section_1F475F68E73B4EAE875BA40825E736C9)
-   [AsyncEventQueueMXBean](list_of_mbeans_full.html#topic_48194A5BDF3F40F68E95A114DD702413__section_6A77030A15704BFEAEBBD7DB88266BF6)
-   [LocatorMXBean](list_of_mbeans_full.html#topic_48194A5BDF3F40F68E95A114DD702413__section_BB83107990D346F39271ACCC14CB84A0)

JMX Manager nodes will have managed node MBeans for themselves since they are also manageable entities in the distributed system.

## <a id="topic_48194A5BDF3F40F68E95A114DD702413__section_796A989549304BF7A536A33A913322A4" class="no-quick-link"></a>MemberMXBean

Member's local view of its connection and cache. It is the primary gateway to manage a particular member. It exposes member level attributes and statistics. Some operations like `createCacheServer()` and `createManager()` will help to create some Geode resources. Any JMX client can connect to the MBean server and start managing a Geode Member by using this MBean.

See [MemberMXBean Notifications](list_of_mbean_notifications.html#reference_czt_hq2_vj) for a list of notifications emitted by this MBean.

**MBean Details**

|                    |                                                           |
|--------------------|-----------------------------------------------------------|
| Scope              | Local                                                     |
| Proxied            | Yes                                                       |
| Object Name        | GemFire:type=Member,member=&lt;name-or-dist-member-id&gt; |
| Instances Per Node | 1                                                         |

See the `org.apache.geode.management.MemberMXBean` JavaDocs for information on available MBean methods and attributes.

## <a id="topic_48194A5BDF3F40F68E95A114DD702413__section_7287A7560650426E9B8249E2D87CE55F" class="no-quick-link"></a>CacheServerMXBean

Represents the Geode CacheServer. Provides data and notifications about server, subscriptions, durable queues and indices.

See [CacheServerMXBean Notifications](list_of_mbean_notifications.html#cacheservermxbean_notifications) for a list of notifications emitted by this MBean.

**MBean Details**

|                    |                                                                               |
|--------------------|-------------------------------------------------------------------------------|
| Scope              | Local                                                                         |
| Proxied            | Yes                                                                           |
| Object Name        | GemFire:type=Member,service=CacheServer,member=&lt;name-or-dist-member-id&gt; |
| Instances Per Node | 1                                                                             |

See the `org.apache.geode.management.CacheServerMXBean` JavaDocs for information on available MBean methods and attributes.

## <a id="topic_48194A5BDF3F40F68E95A114DD702413__section_577A666924E54352AF69294DC8DEFEBF" class="no-quick-link"></a>RegionMXBean

Member's local view of region.

**MBean Details**

|                    |                                                                                                  |
|--------------------|--------------------------------------------------------------------------------------------------|
| Scope              | Local                                                                                            |
| Proxied            | Yes                                                                                              |
| Object Name        | GemFire:type=Member,service=Region,name=&lt;regionName&gt;,member=&lt;name-or-dist-member-id&gt; |
| Instances Per Node | 0..N                                                                                             |

See the `org.apache.geode.management.RegionMXBean` JavaDocs for information on available MBean methods and attributes.

## <a id="topic_48194A5BDF3F40F68E95A114DD702413__section_2F9F00081BB14CE0ADA251F5B6289BF2" class="no-quick-link"></a>LockServiceMXBean

Represents a named instance of a LockService . Any number of LockServices can be created in a member.

**MBean Details**

|                    |                                                                                                    |
|--------------------|----------------------------------------------------------------------------------------------------|
| Scope              | Local                                                                                              |
| Proxied            | Yes                                                                                                |
| Object Name        | GemFire:type=Member,service=LockService,name=&lt;dlsName&gt;,member=&lt;name-or-dist-member-id&gt; |
| Instances Per Node | 0..N                                                                                               |

See the `org.apache.geode.management.LockServiceMXBean` JavaDocs for information on available MBean methods and attributes.

## <a id="topic_48194A5BDF3F40F68E95A114DD702413__section_1F475F68E73B4EAE875BA40825E736C9" class="no-quick-link"></a>DiskStoreMXBean

Represents a DiskStore object which provides disk storage for one or more regions

**MBean Details**

|                    |                                                                                               |
|--------------------|-----------------------------------------------------------------------------------------------|
| Scope              | Local                                                                                         |
| Proxied            | Yes                                                                                           |
| Object Name        | GemFire:type=Member,service=DiskStore,name=&lt;name&gt;,member=&lt;name-or-dist-member-id&gt; |
| Instances Per Node | 0..N                                                                                          |

See the `org.apache.geode.management.DiskStoreMXBean` JavaDocs for information on available MBean methods and attributes.

## <a id="topic_48194A5BDF3F40F68E95A114DD702413__section_6A77030A15704BFEAEBBD7DB88266BF6" class="no-quick-link"></a>AsyncEventQueueMXBean

An AsyncEventQueueMXBean provides access to an AsyncEventQueue, which represent the channel over which events are delivered to the AsyncEventListener.

**MBean Details**

|                    |                                                                                                            |
|--------------------|------------------------------------------------------------------------------------------------------------|
| Scope              | Local                                                                                                      |
| Proxied            | Yes                                                                                                        |
| Object Name        | GemFire:type=Member,service=AsyncEventQueue=&lt;AsyncEventQueue&gt; ,member=&lt;name-or-dist-member-id&gt; |
| Instances Per Node | 0..N                                                                                                       |

See the `org.apache.geode.management.AsyncEventQueueMXBean` JavaDocs for information on available MBean methods and attributes.

## <a id="topic_48194A5BDF3F40F68E95A114DD702413__section_BB83107990D346F39271ACCC14CB84A0" class="no-quick-link"></a>LocatorMXBean

A LocatorMXBean represents a locator .

**MBean Details**

|                    |                                                                                             |
|--------------------|---------------------------------------------------------------------------------------------|
| Scope              | Local                                                                                       |
| Proxied            | Yes                                                                                         |
| Object Name        | GemFire:type=Member,service=Locator,port=&lt;port&gt;,member=&lt;name-or-dist-member-id&gt; |
| Instances Per Node | 0..1                                                                                        |

See the `org.apache.geode.management.LocatorMXBean` JavaDocs for information on available MBean methods and attributes.
