---
title:  Data Serialization
---

Data that you manage in <span class="keyword">GemFire</span> must be serialized and deserialized for storage and transmittal between processes. You can choose among several options for data serialization.

-   **[Overview of Data Serialization](../../../developing/data_serialization/data_serialization_options.html)**

    <span class="keyword">GemFire</span> offers serialization options other than Java serialization that give you higher performance and greater flexibility for data storage, transfers, and language types.

-   **[GemFire PDX Serialization](../../../latest/developing/data_serialization/gemfire_pdx_serialization.html)**

    <span class="keyword">GemFire</span>'s Portable Data eXchange (PDX) is a cross-language data format that can reduce the cost of distributing and serializing your objects. PDX stores data in named fields that you can access individually, to avoid the cost of deserializing the entire data object. PDX also allows you to mix versions of objects where you have added or removed fields.

-   **[GemFire Data Serialization (DataSerializable and DataSerializer)](../../../latest/developing/data_serialization/gemfire_data_serialization.html)**

    <span class="keyword">GemFire</span>'s `DataSerializable` interface gives you quick serialization of your objects.

-   **[Standard Java Serialization](../../../latest/developing/data_serialization/java_serialization.html)**

    You can use standard Java serialization for data you only distribute between Java applications. If you distribute your data between non-Java clients and Java servers, you need to do additional programming to get the data between the various class formats.


