---
title: Gemcached
---

<!--
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<a id="topic_3751C8A924884B7F88F993CAD350D4FE"></a>


Gemcached is a Geode adapter that allows Memcached clients to communicate with a Geode server cluster, as if the servers were memcached servers. Memcached is an open-source caching solution that uses a distributed, in-memory hash map to store key-value pairs of string or object data.

For information about Memcached, see [http://www.memcached.org](http://www.memcached.org).

-   **[How Gemcached Works](about_gemcached.html)**

    Applications use memcached clients to access data stored in embedded Gemcached servers.

-   **[Deploying and Configuring a Gemcached Server](deploying_gemcached.html)**

    You can configure and deploy Gemcached servers in a Java class or by using the gfsh command-line interface.

-   **[Advantages of Gemcached over Memcached](advantages.html)**

    The standard memcached architecture has inherent architectural challenges that make memcached applications difficult to write, maintain, and scale. Using Gemcached with Geode addresses these challenges.


