---
title:  Tools and Modules
---

*Tools and Modules* describes tools and modules associated with <span class="keyword">Apache Geode</span>.

<a id="deploy_run__section_tool_intro"></a>

-   **[gfsh (Geode SHell)](../tools_modules/gfsh/chapter_overview.html)**

    <span class="keyword">Geode</span> gfsh (pronounced "gee-fish") provides a single, powerful command-line interface from which you can launch, manage, and monitor <span class="keyword">Geode</span> processes, data, and applications.

-   **[Gemcached](../tools_modules/gemcached/chapter_overview.html)**

    Gemcached is a <span class="keyword">Geode</span> adapter that allows Memcached clients to communicate with a <span class="keyword">Geode</span> server cluster, as if the servers were memcached servers. Memcached is an open-source caching solution that uses a distributed, in-memory hash map to store key-value pairs of string or object data.

-   **[Hibernate Cache Module](../tools_modules/hibernate_cache/chapter_overview.html)**

    The <span class="keyword">Geode</span> Hibernate Cache Module provides fast, scalable, distributed L2 caching for Hibernate.

-   **[HTTP Session Management Modules](../tools_modules/http_session_mgmt/chapter_overview.html)**

    The <span class="keyword">Apache Geode</span> HTTP Session Management modules provide fast, scalable, and reliable session replication for HTTP servers without requiring application changes.

-   **[Geode Pulse](../tools_modules/pulse/chapter_overview.html)**

    <span class="keyword">Geode</span> Pulse is a Web Application that provides a graphical dashboard for monitoring vital, real-time health and performance of <span class="keyword">Geode</span> clusters, members, and regions.

-   **[Geode Redis Adapter](../tools_modules/redis_adapter.html)**

    The <span class="keyword">Geode</span> Redis adapter allows <span class="keyword">Geode</span> to function as a drop-in replacement for a Redis data store, letting Redis applications take advantage of <span class="keyword">Geode</span>’s scaling capabilities without changing their client code. Redis clients connect to a <span class="keyword">Geode</span> server in the same way they connect to a Redis server, using an IP address and a port number.

-   **[Java Visual Statistics Display (JVSD)](../tools_modules/jvsd.html)**

    The Java Visual Statistics Display utility reads <span class="keyword">Geode</span> statistics and produces graphical displays for analysis.


