---
title:  How <span class="keyword">GemFire</span> Works with Hibernate
---

After a few configuration changes, <span class="keyword">Pivotal GemFire</span> will cache Hibernate data. Depending on your usage model, you can replicate data across multiple peers, partition data across multiple servers, or manage your data in many other customizable ways.

<img src="../../images_svg/hibernate_overview.svg" id="hib_cac_mod__image_47CDCD5F218041F7B2D267B99486AAAD" class="image" />

