---
title:  Hibernate Cache Module
---

The <span class="keyword">GemFire</span> Hibernate Cache Module provides fast, scalable, distributed L2 caching for Hibernate.

For additional information about Hibernate, see the [Hibernate](http://www.hibernate.org/) website.

-   **[Why Use GemFire with Hibernate?](../../../latest/tools_modules/hibernate_cache/hibernate_why_use_gemfire.html)**

    Using <span class="keyword">Pivotal GemFire</span> with Hibernate improves performance and scalability, gives you flexible caching options, and more.

-   **[How GemFire Works with Hibernate](../../../latest/tools_modules/hibernate_cache/chapter_overview_how_works.html)**

    After a few configuration changes, <span class="keyword">Pivotal GemFire</span> will cache Hibernate data. Depending on your usage model, you can replicate data across multiple peers, partition data across multiple servers, or manage your data in many other customizable ways.

-   **[Installing the Hibernate Cache Module](../../../latest/tools_modules/hibernate_cache/installing_gemfire_and_module.html)**

    The Hibernate module is included in the <span class="keyword">Pivotal GemFire</span> installation package.

-   **[Setting Up the GemFire Hibernate Cache Module](../../../latest/tools_modules/hibernate_cache/setting_up_the_module.html)**

    Edit the `hibernate.cfg.xml` file to use the Hibernate Cache module.

-   **[Advanced Configuration of the Hibernate Cache Module](../../../latest/tools_modules/hibernate_cache/advanced_config.html)**

    After you set up Hibernate to work with the <span class="keyword">GemFire</span> module, <span class="keyword">GemFire</span> will run automatically with preconfigured settings. Depending on your topology, you may want to change these settings.

-   **[Changing Default Configuration of the Hibernate Cache Module](../../../latest/tools_modules/hibernate_cache/changing_gemfire_default_cfg.html)**

    To edit <span class="keyword">GemFire</span> configuration information (such as how members locate each other), you can add <span class="keyword">GemFire</span> properties to Hibernate's `hibernate.cfg.xml` file.

-   **[Using Hibernate Cache Module with HTTP Session Management Module](../../../latest/tools_modules/hibernate_cache/using_hibernate_with_http_session.html)**

    This section describes how to set up the Hibernate Cache module if you are also using the HTTP Session Management module.


