---
title:  Installing the Hibernate Cache Module
---

The Hibernate module is included in the <span class="keyword">Apache Geode</span> installation package.

1.  If you have not done so, download and install [Hibernate](http://www.hibernate.org/). <span class="keyword">Apache Geode</span> supports Hibernate 3.3 and later (up to version 3.6.10) for use with the Hibernate Cache module. <span class="keyword">Apache Geode</span> does not currently support Hibernate 4.x for use with the Hibernate Cache module.
2.  The Hibernate module is included in the <span class="keyword">Apache Geode</span> installation package. You can find the module in the `<product_dir>/tools/Modules` directory, in a zip file that includes the version and the string `Hibernate`. `<product_dir>` is the location where you installed <span class="keyword">Geode</span>.
3.  Make sure that `<product_dir>/lib/geode-dependencies.jar` is part of the CLASSPATH when you run Hibernate. Alternatively, you can place the `geode-dependencies.jar` in a location that is accessible to your Hibernate application.


