---
title:  Continuous Querying
---

*Continuous Querying* describes how to implement continuous querying in the <span class="keyword">Apache Geode</span> native client so that C++ and C\# .NET clients can run queries against events in the <span class="keyword">Geode</span> cache server region. It also describes main features and the native client CQ API.

-   **[How Continuous Querying Works](../../nativeclient/continuous-querying/1-how-cont-query-works.html)**

    C++ and C\# .NET clients register interest in events using simple query expressions. Events are sent to client listeners that you can program to do whatever your application requires.

-   **[Implementing a Continuous Query](../../nativeclient/continuous-querying/5-implementing-cq.html)**

    You can specify CQs for any client region.

-   **[Managing Continuous Queries](../../nativeclient/continuous-querying/6-managing-cqs.html)**

    This section discusses how to access and manage your CQs from your client. The calls discussed here are all executed specifically for the calling client. A client cannot access or modify the CQs belonging to another client.

-   **[CQ API and Main Features](../../nativeclient/continuous-querying/3-native-client-cq-api.html)**

    This chapter documents the primary native client API for CQ management.


