<div class="copyright">
  <a href='/'>Apache Geode Documentation</a>
  &copy; <%= Time.now.year %> <a href='http://www.apache.org/'>The Apache Software Foundation</a>.
</div>
<div class="support">
  Need help? <a href="<%=vars.support_url%>" target="_blank">Visit the Community</a>
</div>
