---
title:  Querying
---

<span class="keyword">Geode</span> provides a SQL-like querying language called OQL that allows you to access data stored in <span class="keyword">Geode</span> regions.

Since <span class="keyword">Geode</span> regions are key-value stores where values can range from simple byte arrays to complex nested objects, <span class="keyword">Geode</span> uses a query syntax based on OQL (Object Query Language) to query region data. OQL is very similar to SQL, but OQL allows you to query complex objects, object attributes, and methods.

-   **[Geode Querying FAQ and Examples](../../getting_started/querying_quick_reference.html)**

    This topic answers some frequently asked questions on querying functionality. It provides examples to help you get started with <span class="keyword">Geode</span> querying.

-   **[Basic Querying](../../developing/querying_basics/query_basics.html)**

    This section provides a high-level introduction to <span class="keyword">Geode</span> querying such as building a query string and describes query language features.

-   **[Advanced Querying](../../developing/query_additional/advanced_querying.html)**

    This section includes advanced querying topics such as using query indexes, using query bind parameters, querying partitioned regions and query debugging.


