/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * 
 *   http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background:url(../images/mask-bg.png) repeat;
  display:none;
}
  
#boxes .window {
  position:fixed;
  left:0;
  top:0;
  display:none;
  z-index:9999;
  border:1px solid #49596a;
  
}
.popup_heading{background:#142e41 ; display:block; width:100%; float:left;border-bottom:1px solid #49596a; }
.popup_heading span{ color:#8a97a0; font-size:14px; float:left; width:82%; padding:10px 5px 10px 10px;}
.closePopup{color:#fff; float:right; background:url(../images/popup-close-button.png) no-repeat; display:inline-block; width:14px; height:14px; margin:12px 10px 12px 5px;}
/*popup Content Block*/
.popup_contentBlock{float:left; width:100%}
.popup-innerblock{background:#283649;  padding:10px; color:#949ba4; font-size:13px;}
.popup-innerblock ul li{margin-bottom:5px;}
.dataSeparator{margin:0px 5px;}
.width-58{width:58%}
/*Popup Width*/
.width345 {
  width:345px; 
}
.width700 {
  width:700px; 
}

#gridPopup .popup-innerblock { background:#132634; }
