---
title:  GET /gemfire-api/v1/queries
---

<!--
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

List all parameterized queries by ID or name.

## Resource URL

``` pre
http://<hostname_or_http-service-bind-address>:<http-service-port>/gemfire-api/v1/queries
```

## Parameters

None

## Example Request

``` pre
Request Payload: null
GET /gemfire-api/v1/queries/
Accept: application/json
```

## Example Response

``` pre

Response Payload: application/json

200 OK
Content-Type: application/json
Location: http://localhost:8080/gemfire-api/v1/queries

{
    "queries": [
        {
             "id":  "selectCustomer",
             "oql":  "SELECT c FROM /customers c WHERE c.customerId = $1"
        },
        {
             "id":  "selectHighRollers",
             "oql":  "SELECT DISTINCT c FROM /customers c, /orders o WHERE o.totalprice > $1 AND c.customerId = o.customerId"
        }
    ]
}
```

## Error Codes

<table>
<colgroup>
<col width="40%" />
<col width="60%" />
</colgroup>
<thead>
<tr class="header">
<th>Status Code</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>401 UNAUTHORIZED</td>
<td>Invalid Username or Password</td>
</tr>
<tr>
<td>403 FORBIDDEN</td>
<td>Insufficient privileges for operation</td>
</tr>
<tr class="even">
<td>500 INTERNAL SERVER ERROR</td>
<td>Error encountered at Geode server. Check the HTTP response body for a stack trace of the exception.</td>
</tr>
</tbody>
</table>

