---
title:  Data Serialization
---

In addition to standard Java serialization, <span class="keyword">Geode</span> offers serialization options that give you higher performance and greater flexibility for data storage, transfers, and language types.

Under *Developing with <span class="keyword">Apache Geode</span>*, see [Data Serialization](../../developing/data_serialization/chapter_overview.html#data_serialization).


