---
title:  TCP/IP KeepAlive Configuration
---

<span class="keyword">GemFire</span> supports TCP KeepAlive to prevent socket connections from being timed out.

The `gemfire.enableTcpKeepAlive` system property prevents connections that appear idle from being timed out (for example, by a firewall.) When configured to true, <span class="keyword">GemFire</span> enables the SO\_KEEPALIVE option for individual sockets. This operating system-level setting allows the socket to send verification checks (ACK requests) to remote systems in order to determine whether or not to keep the socket connection alive.

**Note:**
The time intervals for sending the first ACK KeepAlive request, the subsequent ACK requests and the number of requests to send before closing the socket is configured on the operating system level.

By default, this system property is set to true.


