---
title: describe
---

<!--
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

Display details of a member's configuration, shell connection, disk-stores, members, or regions.

-   **[describe client](#topic_gyr_jgz_ck)**

    Displays details about a specified client.

-   **[describe config](#topic_3C2C817D999C4E40AF788808B7B6AF99)**

    Display the configuration of a member.

-   **[describe connection](#topic_591DC6B781B641168E6173E69AC6D201)**

    Display connection information details.

-   **[describe disk-store](#topic_C635B500BE6A4F1D9572D0BC98A224F2)**

    Display information about a member's disk store.

-   **[describe lucene index](#describe_lucene_index)**

    Display information about a Lucene index.

-   **[describe member](#topic_D62F3D42B1D84CF68F03D54D5122806A)**

    Display details of a member with given name/id.

-   **[describe offline-disk-store](#topic_kys_yvk_2l)**

    Display information about an offline member's disk store.

-   **[describe region](#topic_DECF7D3D33F54071B6B8AD4EA7E3F90B)**

    Display the attributes and key information of a region.

## <a id="topic_gyr_jgz_ck" class="no-quick-link"></a>describe client

Displays details about a specified client.

**Availability:** Online. You must be connected in `gfsh` to a JMX Manager member to use this command.

**Syntax:**

``` pre
describe client --clientID=value
```

**Parameters, describe client:**

| Name                                             | Description                                                                                                                                     |
|--------------------------------------------------|-------------------------------------------------------------------------------------------------------------------------------------------------|
| <span class="keyword parmname">&#8209;&#8209;clientID</span> | *Required.* ID of the client. To find a client ID, you can use the `list clients` command to display a list of connected clients and their IDs. |


**Example Commands:**

``` pre
describe client --clientID=192.0.2.0(4987:loner):58922:7b3398cf
```

**Sample Output:**

``` pre
gfsh>describe client --clientID=192.0.2.0(4987:loner):58922:7b3398cf
-------------------------------------------------------------------
Primary Servers                : 192.0.2.0(server1:5764)<v1>:15189
Secondary Servers              : 192.0.2.0(server2:5891)<v2>:39082
CPU                            : 0
Number of Cache Listner Calls  : 0
Number of Gets                 : 0
Number of Misses               : 0
Number of Puts                 : 0
Number of Threads              : 0
Process CPU Time (nanoseconds) : 0
Queue size                     : 1
UP Time (seconds)              : 67
Is Durable                     : No
```

## <a id="topic_3C2C817D999C4E40AF788808B7B6AF99" class="no-quick-link"></a>describe config

Display the configuration of a member.

**Availability:** Online. You must be connected in `gfsh` to a JMX Manager member to use this command.

**Syntax:**

``` pre
describe config --member=value [--hide-defaults(=value)?]
```

**Parameters, describe config:**

| Name                                                  | Description                                                                      | Default Value |
|-------------------------------------------------------|----------------------------------------------------------------------------------|---------------|
| <span class="keyword parmname">\\-\\-member </span>       | Name or ID of a member whose configuration is to be shown.                       |               |
| <span class="keyword parmname">\\-\\-hide-defaults</span> | Whether to hide configuration information for properties with the default value. | true          |


**Example Commands:**

``` pre
describe config --member=Member1;
```

**Sample Output:**

``` pre
gfsh>describe config --member=server1
Configuration of member : "server1"


JVM command line arguments
-----------------------------------
-Dgemfire.mcast-port=0
-Dgemfire.locators=localhost[10334]

GemFire properties defined using the API
................................................
log-file                                 : vf.gf.server.log
name                                     : server1

GemFire properties defined at the runtime
................................................
log-level                                 : finest
statistic-sampling-enabled                : true

Cache attributes
................................................
is-server        : true

Cache-server attributes
 . bind-address         : localhost
```

## <a id="topic_591DC6B781B641168E6173E69AC6D201" class="no-quick-link"></a>describe connection

Display connection information details.

**Availability:** Online. You must be connected in `gfsh` to a JMX Manager member to use this command.

**Syntax:**

``` pre
describe connection
```

**Example Commands:**

``` pre
describe connection
```

**Sample Output:**

``` pre
gfsh>describe connection
Connection Endpoints
--------------------
GemFireUser[1099]
```

## <a id="topic_C635B500BE6A4F1D9572D0BC98A224F2" class="no-quick-link"></a>describe disk-store

Display information about a member's disk store.

**Availability:** Online. You must be connected in `gfsh` to a JMX Manager member to use this command.

**Syntax:**

``` pre
describe disk-store --member=value --name=value
```

**Parameters, describe disk-store:**

| Name                                           | Description                                                            |
|------------------------------------------------|------------------------------------------------------------------------|
| <span class="keyword parmname">\\-\\-member</span> | *Required.* Name/ID of the member with the disk store to be described. |
| <span class="keyword parmname">\\-\\-name </span>  | *Required*. Name of the disk store to be described.                    |


**Example Commands:**

``` pre
describe disk-store --member=server1 --name=DiskStore1
```

**Sample Output:**

``` pre
gfsh>describe disk-store --name=disk1 --member=server1
Disk Store ID                      : a531bc7b-5188-4510-85d7-de7de30c6671
Disk Store Name                    : disk1
Member ID                          : ubuntu(server1:7467)<v1>:35249
Member Name                        : server1
Allow Force Compaction             : No
Auto Compaction                    : Yes
Compaction Threshold               : 50
Max Oplog Size                     : 1024
Queue Size                         : 0
Time Interval                      : 1000
Write Buffer Size                  : 32768
Disk Usage Warning Percentage      : 90
Disk Usage Critical Percentage     : 99
PDX Serialization Meta-Data Stored : No


        Disk Directory          | Size
------------------------------- | ----------
/home/user/server1/DiskStore1 | 2147483647

```

## <a id="describe_lucene_index" class="no-quick-link"></a>describe lucene index

Describe a Lucene index.

See also [create lucene index](create.html#create_lucene_index), [destroy lucene index](destroy.html#destroy_lucene_index), [list lucene indexes](list.html#list_lucene_indexes) and [search lucene](search.html#search_lucene).

**Availability:** Online. You must be connected in `gfsh` to a JMX Manager member to use this command.

**Syntax:**

``` pre
describe lucene index --name=value --region=value
```

**Parameters, describe lucene index:**

| Name                                               | Description                                                                  |
|----------------------------------------------------|------------------------------------------------------------------------------|
| <span class="keyword parmname">\\-\\-name</span>       | *Required.* Name of the Lucene index to describe                          |
| <span class="keyword parmname">\\-\\-region</span>     | *Required.* Name and path of the region in which the Lucene index exists               |



**Example Commands:**

``` pre
gfsh>describe lucene index --name=personIndex --region=/Person
```

**Sample Output:**

``` pre
gfsh>describe lucene index --name=personIndex --region=/Person
Index Name  | Region Path |                 Indexed Fields                 | Field Analyzer |   Status    | Query Executions | Updates | Commits | Documents
----------- | ----------- | ---------------------------------------------- | -------------- | ----------- | ---------------- | ------- | ------- | ---------
personIndex | /Person     | [name, email, address, streetAddress, revenue] | {}             | Initialized | 339              | 1008    | 962     | 1004

gfsh>describe lucene index --name=analyzerIndex --region=/Person
 Index Name   | Region Path |     Indexed Fields     |            Field Analyzer             |   Status    | Query Executions | Updates | Commits | Documents
------------- | ----------- | ---------------------- | ------------------------------------- | ----------- | ---------------- | ------- | ------- | ---------
analyzerIndex | /Person     | [address, name, email] | {address=MyCharacterAnalyzer, email.. | Initialized | 1695             | 1008    | 962     | 1004
```

## <a id="topic_D62F3D42B1D84CF68F03D54D5122806A" class="no-quick-link"></a>describe member

Display details of a member with given name/id.

**Availability:** Online. You must be connected in `gfsh` to a JMX Manager member to use this command.

**Syntax:**

``` pre
describe member --name=value
```

**Parameters, describe member:**

| Name                                          | Description                                                                               |
|-----------------------------------------------|-------------------------------------------------------------------------------------------|
| <span class="keyword parmname">&#8209;&#8209;name </span> | *Required.* Display information about a member, including name, ID, groups, regions, etc. |


**Example Commands:**

``` pre
describe member --name=server1
```

**Sample Output:**

``` pre
gfsh>describe member --name=server1
Name        : server1
Id          : GemFireUser(server1:240)<v1>:64871
Host        : 192.0.2.0
Regions     : region4
region5
region3
region2
region1

PID         : 240
Groups      :
Used Heap   : 5M
Max Heap    : 123M
Working Dir : c:\PivotalGemFire70\Latest\server1
Log file    : C:\PivotalGemFire70\Latest\server1\vf.gf.server.log
Locators    : localhost[10334]

Server Bind        : localhost
Server Port        : 40404
Running            : true
Client Connections : 0
```

## <a id="topic_kys_yvk_2l" class="no-quick-link"></a>describe offline-disk-store

Display information about an offline member's disk store.

**Availability:** Online. You must be connected in `gfsh` to a JMX Manager member to use this command.

**Syntax:**

``` pre
describe offline-disk-store --name=value --disk-dirs=value(,value)* [--pdx=value] [--region=value]
```

**Parameters, describe offline-disk-store:**

| Name                                               | Description                                                                  |
|----------------------------------------------------|------------------------------------------------------------------------------|
| <span class="keyword parmname">\\-\\-name</span>       | *Required.* Name of the disk store to be described.                          |
| <span class="keyword parmname">\\-\\-disk-dirs </span> | *Required.* Directory that contains the disk store files.                    |
| <span class="keyword parmname">\\-\\-pdx</span>        | If set (or set to true), display all the pdx types stored in the disk store. |
| <span class="keyword parmname">\\-\\-region</span>     | Name and path of the region in the disk store to be described.               |


**Example Commands:**

``` pre
describe offline-disk-store --name=DiskStore1\
 --disk-dirs=/home/username/gemfire/mydiskStore1Dir

describe offline-disk-store --name=DiskStore1 --disk-dirs=/DiskDir1  --pdx=true
```

**Sample Output:**

``` pre
gfsh>describe offline-disk-store --name=DiskStore1 --disk-dirs=/DiskDir1 --pdx=true
Regions in the disk store:
  /PdxTypes: -lru=none -concurrencyLevel=16 -initialCapacity=16 -loadFactor=0.75 -compressor=none -statisticsEnabled=false
  /Region1: -lru=none -concurrencyLevel=16 -initialCapacity=16 -loadFactor=0.75 -compressor=none -statisticsEnabled=false
PDX Types:
  com.app.data.PositionPdx: id=1
    long avg20DaysVol;
    String bondRating;
    double convRatio;
    String country;
    double delta;
    long industry;
    long issuer;
    double mktValue;
    double qty;
    String secId; // identity
    String secIdIndexed;
    String secLinks;
    double sharesOutstanding;
    String underlyer;
    long volatility;
    int pid;
    int portfolioId;
  com.app.data.StockPdx: id=2
    int ID; // identity
    String pkid;
    Object position1;
    Object position2;
    Object positions;
    Object collectionHolderMap;
    String type;
    String status;
    String[] names;
    String description;
    long createTime;
    Object[] position3;
    Object aDay;
    Date date;
PDX Enums:
  com.app.data.StockPdx$Day.Monday
```

## <a id="topic_DECF7D3D33F54071B6B8AD4EA7E3F90B" class="no-quick-link"></a>describe region

Display the attributes and key information of a region.

**Availability:** Online. You must be connected in `gfsh` to a JMX Manager member to use this command.

**Syntax:**

``` pre
describe region --name=value
```

**Parameters, describe region:**

| Name                                          | Description                                          |
|-----------------------------------------------|------------------------------------------------------|
| <span class="keyword parmname">\\-\\-name </span> | *Required.* Name/Path of the region to be described. |


**Example Commands:**

``` pre
describe region --name=region1
```

**Sample Output:**

``` pre
gfsh>describe region --name=region1
..........................................................
Name            : region1
Data Policy     : normal
Hosting Members : server1
server2


Non-Default Attributes Shared By Hosting Members

 Type  |    Name     | Value
------ | ----------- | ------
Region | data-policy | NORMAL
       | size        | 0
```
