---
title: list
---

<!--
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->



List existing Geode resources such as deployed applications, disk-stores, functions, members, servers, and regions.

-   **[list async-event-queues](#topic_j22_kzk_2l)**

    Display a list of async event queues for all members.

-   **[list clients](#topic_ts1_qb1_dk)**

    Displays a list of connected clients.

-   **[list deployed](#topic_59DF60DE71AD4097B281749425254BFF)**

    Display a list of JARs that were deployed to members using the deploy command.

-   **[list disk-stores](#topic_BC14AD57EA304FB3845766898D01BD04)**

    List all available disk stores across the Geode cluster

-   **[list durable-cqs](#topic_66016A698C334F4EBA19B99F51B0204B)**

    List durable client CQs associated with the specified durable client id.

-   **[list functions](#topic_DCC7CCBBEF5942B783A8F2A4A5B2FABF)**

    Display a list of registered functions. The default is to display functions for all members.

-   **[list gateways](#topic_B1D89671C7B74074899C7D52F15849ED)**

    Displays the gateway senders and receivers for a member or members.

-   **[list indexes](#topic_B3B51B6DEA484EE086C4F657EC9831F2)**

    Display the list of indexes created for all members.

-   **[list lucene indexes](#list_lucene_indexes)**

    List Lucene indexes created for all members.

-   **[list members](#topic_5B5BFB2E5F314210858641BE3A689637)**

    Display all or a subset of members.

-   **[list regions](#topic_F0ECEFF26086474498598035DD83C588)**

    Display regions of a member or members. If no parameter is specified, all regions in the Geode distributed system are listed.

## <a id="topic_j22_kzk_2l" class="no-quick-link"></a>list async-event-queues

Display a list of async event queues for all members.

**Availability:** Online. You must be connected in `gfsh` to a JMX Manager member to use this command.

**Syntax:**

``` pre
list async-event-queues
```

**Example Commands:**

``` pre
list async-event-queues
```

## <a id="topic_ts1_qb1_dk" class="no-quick-link"></a>list clients

Displays a list of connected clients.

Displays a list of connected clients and the servers they are connected to.

**Availability:** Online. You must be connected in `gfsh` to a JMX Manager member to use this command.

**Syntax:**

``` pre
list clients
```

**Example Commands:**

``` pre
list clients
```

**Sample Output:**

``` pre
gfsh>list clients

ClientList

            Client Name / ID              | Server Name / ID
----------------------------------------- | -----------------------------------------------------
192.0.2.0(4987:loner):58922:7b3398cf | member=server2,port=53508;  member=server1,port=56806
192.0.2.0(5065:loner):39906:a6f598cf | member=server2,port=53508;  member=server1,port=56806
```

## <a id="topic_59DF60DE71AD4097B281749425254BFF" class="no-quick-link"></a>list deployed

Display a list of JARs that were deployed to members using the deploy command.

**Availability:** Online. You must be connected in `gfsh` to a JMX Manager member to use this command.

**Syntax:**

``` pre
list deployed [--group=value(,value)*]
```

**Parameters, list deployed:**

| Name                                          | Description                                                                                                          |
|-----------------------------------------------|----------------------------------------------------------------------------------------------------------------------|
| <span class="keyword parmname">&#8209;&#8209;group</span> | Group(s) of members for which deployed JARs will be displayed. If not specified, JARs for all members are displayed. |


**Example Commands:**

``` pre
list deployed
list deployed --group=Group2
```

**Sample Output:**

``` pre
gfsh> list deployed  --group=Group2

 Member   |     Deployed JAR     |                JAR Location
--------- | -------------------- | ---------------------------------------------------
datanode1 | group1_functions.jar | /usr/local/gemfire/deploy/vf.gf#group1_functions.jar#1
datanode2 | group1_functions.jar | /usr/local/gemfire/deploy/vf.gf#group1_functions.jar#1
```

**Error Messages:**

``` pre
No JAR Files Found
```

## <a id="topic_BC14AD57EA304FB3845766898D01BD04" class="no-quick-link"></a>list disk-stores

List all available disk stores across the Geode cluster

The command also lists the configured disk directories and any Regions, Cache Servers, Gateways, PDX Serialization and Async Event Queues using Disk Stores to either overflow and/or persist information to disk. Use the `describe                         disk-store` command to see the details for a particular Disk Store.

**Availability:** Online. You must be connected in `gfsh` to a JMX Manager member to use this command.

**Syntax:**

``` pre
list disk-stores
```

**Example Commands:**

``` pre
list disk-stores
```

**Sample Output:**

``` pre
gfsh> list disk-stores

   Member Name   |                   Member Id                   | Disk Store Name |            Disk Store ID
  -------------- | --------------------------------------------- | --------------- | ------------------------------------
  consumerServer | 192.0.2.0(consumerServer:13825)<v5>:3545  | consumerData    | 4029af26-fd82-4997-bd6c-33382cdbb5e9
  consumerServer | 192.0.2.0(consumerServer:13825)<v5>:3545  | observerData    | 7e0316ad-963c-49b0-9b01-8f59b8d9e29e
  producerServer | 192.0.2.0(producerServer:13826)<v3>:53764 | producerData    | 4670e4eb-1c50-4465-b418-08ede3d5dbed
```

**Error Messages:**

``` pre
gfsh> list disk-stores
No Disk Stores Found

```

## <a id="topic_66016A698C334F4EBA19B99F51B0204B" class="no-quick-link"></a>list durable-cqs

List durable client CQs associated with the specified durable client id.

**Availability:** Online. You must be connected in `gfsh` to a JMX Manager member to use this command.

**Syntax:**

``` pre
list durable-cqs --durable-client-id=value [--member=value] [--group=value]
```

**Parameters, list durable-cqs:**

| Name                                                       | Description                                                                                            |
|------------------------------------------------------------|--------------------------------------------------------------------------------------------------------|
| <span class="keyword parmname">\\-\\-durable-client-id </span> | *Required.* The ID used to identify the durable client.                                                |
| <span class="keyword parmname">\\-\\-member</span>             | Name or Id of the member for which the durable client is registered and durable CQs will be displayed. |
| <span class="keyword parmname">\\-\\-group</span>              | Group of members for which the durable client is registered and durable CQs will be displayed.         |


**Example Commands**:

``` pre
list durable-cqs --durable-client-id=client1
```

**Sample Output**:

``` pre
gfsh>list durable-cqs --durable-client-id=client1
member  | durable-cq-name
------- | ---------------
server3 | cq3
        | cq1
        | cq2
server4 | cq3
        | cq1
```

**Error Messages:**

``` pre
gfsh>list durable-cqs --durable-client-id=client1

Unable to list durable-cqs for durable-client-id : "client1" due to following reasons.

No client found with client-id : client1
Occurred on members
1.server4
2.server1
3.server3
```

## <a id="topic_DCC7CCBBEF5942B783A8F2A4A5B2FABF" class="no-quick-link"></a>list functions

Display a list of registered functions. The default is to display functions for all members.

**Availability:** Online. You must be connected in `gfsh` to a JMX Manager member to use this command.

**Syntax:**

``` pre
list functions [--matches=value] [--group=value(,value)*]
[--member=value(,value)*]
```

**Parameters, list functions:**

| Name                                             | Description                                                                                                                                                                                     |
|--------------------------------------------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| <span class="keyword parmname">\\-\\-matches </span> | Pattern that the function ID must match in order to be included. Uses Java pattern matching rules, not UNIX. For example, to match any character any number of times use ".\*" instead of "\*". |
| <span class="keyword parmname">\\-\\-group</span>    | Group(s) of members for which functions will be displayed. Use a comma separated list for multiple groups.                                                                                      |
| <span class="keyword parmname">&#8209;&#8209;member </span>  | Name or ID of the member(s) for which functions will be displayed. Use a comma separated list for multiple members.                                                                             |


**Example Commands:**

``` pre
gfsh> list functions
gfsh> list functions --matches=reconcile.*
```

**Sample Output:**

``` pre
list functions

   Member   |          Function
  --------- | --------------------------
  camelot   | loadDataFromExternalSource
  camelot   | reconcileWeeklyExpenses
  excalibur | loadDataFromExternalSource
  excalibur | reconcileDailyExpenses


Example of 'list function' with a "matches" filter:

gfsh> list functions --matches=reconcile.*

   Member   |        Function
  --------- | -----------------------
  camelot   | reconcileWeeklyExpenses
  excalibur | reconcileDailyExpenses


Example of 'list functions' when no functions are found in Geode :

gfsh> list functions
No Functions Found.
```

## <a id="topic_B1D89671C7B74074899C7D52F15849ED" class="no-quick-link"></a>list gateways

Displays the gateway senders and receivers for a member or members.

**Availability:** Online. You must be connected in `gfsh` to a JMX Manager member to use this command.

**Syntax:**

``` pre
list gateways [--group=value(,value)*]
```

**Parameters, list gateways:**

| Name                                           | Description                                                                                                                    |
|------------------------------------------------|--------------------------------------------------------------------------------------------------------------------------------|
| <span class="keyword parmname">&#8209;&#8209;member</span> | Member(s) whose gateways senders and receiver display.                                                                         |
| <span class="keyword parmname">\\-\\-group</span>  | Group(s) of members for which Gateway Senders and Receivers will be displayed. Use a comma separated list for multiple groups. |


**Example Commands:**

``` pre
list gateways
```

## <a id="topic_B3B51B6DEA484EE086C4F657EC9831F2" class="no-quick-link"></a>list indexes

Display the list of indexes created for all members.

**Availability:** Online. You must be connected in `gfsh` to a JMX Manager member to use this command.

**Syntax:**

``` pre
list indexes [--with-stats(=value)?]
```

**Parameters, list indexes:**

| Name                                               | Description                                            | Default Value |
|----------------------------------------------------|--------------------------------------------------------|---------------|
| <span class="keyword parmname">\\-\\-with-stats</span> | Specifies whether statistics should also be displayed. | false         |


**Example Commands:**

``` pre
list indexes

list indexes --with-stats
```

**Sample Output:**

``` pre
gfsh>list indexes
Member Name    |                   Member ID                   | Region Path |   Name   | Type  | Indexed Expression | From Clause
-------------- | --------------------------------------------- | ----------- | -------- | ----- | ------------------ | -----------
consumerServer | 192.0.2.0(consumerServer:13873):6317      | /consumers  | cidIdx   | KEY   | id                 | /consumers
consumerServer | 192.0.2.0(consumerServer:13873):6317      | /consumers  | cnameIdx | RANGE | name               | /consumers
producerServer | 192.0.2.0(producerServer:13874):19198     | /producers  | pidIdx   | RANGE | id                 | /producers

Example of 'list indexes' with stats printed:

gfsh>list indexes --with-stats

Member Name  | Member ID | Region Path |   Name   | Type  | Indexed Expression | From Clause | Uses | Updates | Update Time | Keys | Values
------------ | --------- | ----------- | -------- | ----- | ------------------ | ----------- | ---- | ------- | ----------- | ---- | ------
cs...        | 192...    | /consumers  | cidIdx   | KEY   | id                 | /consumers  | 2512 | 0       | 0           | 5020 | 5020  
cs...        | 192...    | /consumers  | cnameIdx | RANGE | name               | /consumers  | 0    | 5020    | 421224000   | 0    | 5020
ps...        | 192...    | /producers  | pidIdx   | RANGE | id                 | /producers  | 0    | 5031    | 497872000   | 5031 | 5031
```

**Error Messages:**

Example of output when no indexes are found in Geode:

``` pre
gfsh> list indexes
No Indexes Found
```

## <a id="list_lucene_indexes" class="no-quick-link"></a>list lucene indexes

Display the list of Lucene indexes created for all members. The optional `--with-stats` qualifier shows activity on the indexes.

See also [create lucene index](create.html#create_lucene_index), [describe lucene index](describe.html#describe_lucene_index), [destroy lucene index](destroy.html#destroy_lucene_index) and [search lucene](search.html#search_lucene).

**Availability:** Online. You must be connected in `gfsh` to a JMX Manager member to use this command.

**Syntax:**

``` pre
list lucene indexes [--with-stats(=value)]
```

**Parameters, list lucene indexes:**

| Name                                               | Description                                            | Default Value |
|----------------------------------------------------|--------------------------------------------------------|---------------|
| <span class="keyword parmname">\\-\\-with-stats</span> | Specifies whether statistics should also be displayed. | false if not specified, true if specified         |


**Example Commands:**

``` pre
list lucene indexes
```

**Sample Output:**

``` pre
gfsh>list lucene indexes --with-stats
Index Name | Region Path |     Indexed Fields     | Field Analy.. | Status  | Query Executions | Updates | Commits | Documents
---------- | ----------- | ---------------------- | ------------- | ------- | ---------------- | ------- | ------- | ---------
testIndex  | /testRegion | [__REGION_VALUE_FIELD] | {__REGION_V.. | Defined | NA               | NA      | NA      | NA

gfsh>list lucene indexes
 Index Name   | Region Path |                           Indexed Fields                           | Field Analy.. | Status
------------- | ----------- | ------------------------------------------------------------------ | ------------- | -----------
analyzerIndex | /Person     | [revenue, address, name, email]                                    | {revenue=St.. | Initialized
customerIndex | /Customer   | [symbol, revenue, SSN, name, email, address, __REGION_VALUE_FIELD] | {}            | Initialized
pageIndex     | /Page       | [id, title, content]                                               | {}            | Initialized
personIndex   | /Person     | [name, email, address, revenue]                                    | {}            | Initialized
```

## <a id="topic_5B5BFB2E5F314210858641BE3A689637" class="no-quick-link"></a>list members

Display all or a subset of members.

**Availability:** Online. You must be connected in `gfsh` to a JMX Manager member to use this command.

**Syntax:**

``` pre
list members [--group=value]
```

**Parameters, list members:**

| Name                                          | Description                                     |
|-----------------------------------------------|-------------------------------------------------|
| <span class="keyword parmname">\\-\\-group</span> | Group name for which members will be displayed. |


**Example Commands:**

``` pre
list members
list members --group=Group1
```

**Sample Output:**

``` pre
gfsh>list members
  Name   | Id
-------- | -------------------------------------
server1  | GemFireStymon(server1:888)<v7>:10839
server2  | GemFireStymon(server2:3260)<v8>:16721
locator1 | localhost(locator1:216:locator):33368
```

## <a id="topic_F0ECEFF26086474498598035DD83C588" class="no-quick-link"></a>list regions

Display regions of a member or members. If no parameter is specified, all regions in the Geode distributed system are listed.

**Syntax:**

``` pre
list regions [--group=value] [--member=value]
```

**Parameters, list regions:**

| Name                                            | Description                                                                 |
|-------------------------------------------------|-----------------------------------------------------------------------------|
| <span class="keyword parmname">\\-\\-group</span>   | Group of members for which regions will be displayed.                       |
| <span class="keyword parmname">\\-\\-member </span> | Name or ID of the member of the member for which regions will be displayed. |


**Example Commands:**

``` pre
list regions
list regions --group=G1
list regions --member=member1
```

**Sample Output:**

``` pre
gfsh>list regions
List of regions
---------------
region1
region2
```
