---
title:  revoke missing-disk-store
---

<!--
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

Instruct the member(s) of a distributed system to stop waiting for a disk store to be available.

Only revoke a disk store if its files are lost as it will no longer be recoverable after revoking is initiated. Use the "show missing-disk-store" command to get descriptions of missing disk stores.

**Availability:** Online. You must be connected in `gfsh` to a JMX Manager member to use this command.

**Syntax:**

``` pre
revoke missing-disk-store --id=value
```

<a id="concept_22551CABF07B4512B5159DDAE036722D__table_ywr_rbg_2w"></a>

| Name | Description                                             |
|------|---------------------------------------------------------|
| \\-\\-id | *Required.* ID of the missing disk store to be revoked. |

<span class="tablecap">Table 1. Revoke Missing-Disk-Store Parameters</span>

**Example Commands:**

``` pre
revoke missing-disk-store --id=60399215-532b-406f-b81f-9b5bd8d1b55a
```

**Sample Output:**

``` pre
gfsh>revoke missing-disk-store --id=60399215-532b-406f-b81f-9b5bd8d1b55a
Missing disk store successfully revoked
```

**Error Messages:**

Example of `revoke missing-disk-store` when the disk store cannot be found:

``` pre
gfsh> revoke missing-disk-store --id=60399215-532b-406f-b81f

Unable to find missing disk store to revoke
```


