---
title:  Developing REST Applications for <span class="keyword">Pivotal GemFire</span>
---

*Developing REST Applications for <span class="keyword">Pivotal GemFire</span>* provides background and instructions on how to program REST applications with <span class="keyword">Pivotal GemFire</span>. <span class="keyword">GemFire</span> REST APIs allow you to access region data, queries and functions in your <span class="keyword">GemFire</span> deployment in wide variety of programming languages.

**Note:**
This documentation covers the **v1** release of <span class="keyword">GemFire</span> REST APIs for developing applications.

-   **[GemFire REST API Overview](../../latest/rest_apps/chapter_overview.html)**

    By using the <span class="keyword">GemFire</span> REST application interface, you can immediately access <span class="keyword">GemFire</span>'s data management capabilities in languages other than the natively supported Java language.

-   **[Prerequisites and Limitations for Writing REST Applications](../../latest/rest_apps/rest_prereqs.html)**

    Before development, understand the prerequisites and limitations of the current REST implementation in <span class="keyword">GemFire</span>.

-   **[Setup and Configuration](../../latest/rest_apps/setup_config.html)**

    The <span class="keyword">Pivotal GemFire</span> developer REST interface runs as an embedded HTTP or HTTPS service (Jetty server) within a <span class="keyword">GemFire</span> data node.

-   **[Using the Swagger UI to Browse REST APIs](../../latest/rest_apps/using_swagger.html)**

    <span class="keyword">Pivotal GemFire</span> Developer REST APIs are integrated with the Swagger™ framework. This framework provides a browser-based test client that allows you to visualize and try out <span class="keyword">GemFire</span> REST APIs.

-   **[Developing REST Applications](../../latest/rest_apps/develop_rest_apps.html)**

    This section provides guidelines on writing REST client applications for <span class="keyword">GemFire</span>.

-   **[Sample REST Applications](../../latest/rest_apps/rest_examples.html)**

    This section provides examples that illustrate how multiple clients, both REST and native, can access the same <span class="keyword">GemFire</span> region data.

-   **[Troubleshooting and FAQ](../../latest/rest_apps/troubleshooting.html)**

    This section provides troubleshooting guidance and frequently asked questions about <span class="keyword">GemFire</span> Developer REST APIs.

-   **[Pivotal GemFire REST API Reference](../../latest/rest_apps/rest_api_reference.html)**

    This section summarizes all available <span class="keyword">Pivotal GemFire</span> REST API resources and endpoints.


