---
title:  DELETE /gemfire-api/v1/{region}
---

Delete all entries in the region.

## Resource URL

``` pre
http://<hostname_or_http-service-bind-address>:<http-service-port>/gemfire-api/v1/{region}
```

## Parameters

None.

## Example Request

``` pre
Request Payload: null
DELETE /gemfire-api/v1/orders
Accept: application/json
```

## Example Success Response

``` pre
Response Payload: null
200 OK
```

## Error Codes

| Status Code               | Description                                                                                                                        |
|---------------------------|------------------------------------------------------------------------------------------------------------------------------------|
| 404 NOT FOUND             | Returned if the region is not found.                                                                                               |
| 500 INTERNAL SERVER ERROR | Error encountered at <span class="keyword">GemFire</span> server. Check the HTTP response body for a stack trace of the exception. |


