---
title:  GET /gemfire-api/v1/functions
---

List all registered <span class="keyword">GemFire</span> functions in the cluster.

## Resource URL

``` pre
http://<hostname_or_http-service-bind-address>:<http-service-port>/gemfire-api/v1/functions
```

## Parameters

None.

## Example Request

``` pre
GET /gemfire-api/v1/functions
Accept: application/json
```

## Example Success Response

``` pre
Response Payload: application/json

200 OK
Content-Length: <#-of-bytes>
Content-Type: application/json
Location: https://localhost:8080/gemfire-api/v1/functions

{
    "functions": [
        "AddFreeItemToOrders",
        "GetRegions",
        "GetDeliveredOrders"
    ]
}
```

## Error Codes

| Status Code               | Description                                                                                                                        |
|---------------------------|------------------------------------------------------------------------------------------------------------------------------------|
| 404 NOT FOUND             | Returned if no functions are found in the cluster.                                                                                 |
| 500 INTERNAL SERVER ERROR | Error encountered at <span class="keyword">GemFire</span> server. Check the HTTP response body for a stack trace of the exception. |


