---
title:  GET /gemfire-api/v1/queries
---

List all parameterized queries by ID or name.

## Resource URL

``` pre
http://<hostname_or_http-service-bind-address>:<http-service-port>/gemfire-api/v1/queries
```

## Parameters

None

## Example Request

``` pre
Request Payload: null
GET /gemfire-api/v1/queries/
Accept: application/json
```

## Example Response

``` pre

Response Payload: application/json

200 OK
Content-Type: application/json
Location: http://localhost:8080/gemfire-api/v1/queries

{
    "queries": [
        {
             "id":  "selectCustomer",
             "oql":  "SELECT c FROM /customers c WHERE c.customerId = $1"
        },
        {
             "id":  "selectHighRollers",
             "oql":  "SELECT DISTINCT c FROM /customers c, /orders o WHERE o.totalprice > $1 AND c.customerId = o.customerId"
        }
    ]
}
```

## Error Codes

|                           |                                                                                                                                    |
|---------------------------|------------------------------------------------------------------------------------------------------------------------------------|
| 500 INTERNAL SERVER ERROR | Error encountered at <span class="keyword">GemFire</span> server. Check the HTTP response body for a stack trace of the exception. |


