---
title:  HEAD /gemfire-api/v1/{region}
---

An HTTP HEAD request that returns region's size (number of entries) within the HEADERS, which is a response without the content-body. Region size is specified in the pre-defined header named "Resource-Count".

## Resource URL

``` pre
http://<hostname_or_http-service-bind-address>:<http-service-port>/gemfire-api/v1/{region}
```

## Parameters

None.

## Example Request

``` pre
Request Payload: null
HEAD /gemfire-api/v1/customers
Response Payload: null
```

## Example Success Response

``` pre
200 OK

Content-Length: <#-of-bytes>
Content-Type: application/json; charset=utf-8
...

Resource-Count: 8192
```

## Error Codes

| Status Code               | Description                                                                                 |
|---------------------------|---------------------------------------------------------------------------------------------|
| 400 Bad Request           | Returned if <span class="keyword">Geode</span> throws an error while executing the request. |
| 404 Resource Not Found    | Region does not exist.                                                                      |
| 500 Internal Server Error | <span class="keyword">Geode</span> has thown an error or exception.                         |


