---
title:  PUT /gemfire-api/v1/{region}/{key1},{key2},...{keyN}
---

Update or insert (put) data for multiple keys in the region.

## Resource URL

``` pre
http://<hostname_or_http-service-bind-address>:<http-service-port>/gemfire-api/v1/{region}/{key},{key2},...{keyN}
```

## Parameters

See [PUT /gemfire-api/v1/{region}/{key}?op=REPLACE](put_replace_data.html#topic_itv_mg5_m4) and [PUT /gemfire-api/v1/{region}/{key}?op=CAS](put_update_cas_data.html#topic_itv_mg5_m4).

## Example Request

``` pre
Request Payload: application/json

PUT /gemfire-api/v1/orders/4,5

Accept: application/json
Content-Type: application/json
[
    {
        "@type":  "com.gemstone.gemfire.web.rest.domain.Order",
         "purchaseOrderNo": 555,
         "customerId": 5,
         "description":  "Order for 23 Corp",
         "orderDate":  "01/15/2014",
         "deliveryDate":  "02/20/2014",
         "contact":  "Jane Doe",
         "email":  "jane.doe@123corp.com",
         "phone":  "01-2048096",
         "items": [
            {
                 "itemNo": 321,
                 "description":  "part 21",
                 "quantity": 2,
                 "unitPrice": 49.95,
                 "totalPrice": 99.9
            }
        ],
         "totalPrice": 99.9
    },
    {
         "@type":  "com.gemstone.gemfire.web.rest.domain.Order",
         "purchaseOrderNo": 777,
         "customerId": 11,
         "description":  "Order for  MNP Corp",
         "orderDate":  "02/10/2014",
         "deliveryDate":  "02/20/2014",
         "contact":  "Trent Jones",
         "email":  "trent.jones@1corp.com",
         "phone":  "503-555-1221",
         "items": [
            {
                 "itemNo": 321,
                 "description":  "Product-21",
                 "quantity": 3,
                 "unitPrice": 49.95,
                 "totalPrice": 149.85
            }
        ],
         "totalPrice": 149.85
    }
]
```

## Example Success Response

``` pre
Response-payload: null

200 OK
```

## Error Codes

| Status Code               | Description                                                                                                                        |
|---------------------------|------------------------------------------------------------------------------------------------------------------------------------|
| 400 BAD REQUEST           | Returned if one or more of the supplied keys is an invalid format.                                                                 |
| 404 NOT FOUND             | Returned if the region is not found.                                                                                               |
| 500 INTERNAL SERVER ERROR | Error encountered at <span class="keyword">GemFire</span> server. Check the HTTP response body for a stack trace of the exception. |


