---
title:  PUT /gemfire-api/v1/queries/{queryId}
---

Update a named, parameterized query.

## Resource URL

``` pre
http://<hostname_or_http-service-bind-address>:<http-service-port>/gemfire-api/v1/queries/{queryId}
```

## Parameters

<table>
<colgroup>
<col width="33%" />
<col width="33%" />
<col width="33%" />
</colgroup>
<thead>
<tr class="header">
<th>Parameter</th>
<th>Description</th>
<th>Example Values</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>q</td>
<td>OQL String</td>
<td><p>&quot;SELECT DISTINCT from /customers WHERE lastName=$1&quot;</p></td>
</tr>
</tbody>
</table>

**Note:**
For this release, you cannot specify the query string inside the request body (as JSON). You must specify the query as a URL parameter.

## Example Request

``` pre
PUT /gemfire-api/v1/queries/selectOrders?q="SELECT DISTINCT from /customers where lastName=$1"

Accept: application/json
Content-Length: <#-of-bytes>
```

## Example Success Response

``` pre
Response Payload:  null

200 OK
```

## Error Codes

| Status Code               | Description                                                                                                                      |
|---------------------------|----------------------------------------------------------------------------------------------------------------------------------|
| 404 NOT FOUND             | Returned if the specified queryId cannot be found.                                                                               |
| 500 INTERNAL SERVER ERROR | Error encountered at <span class="keyword">Geode</span> server. Check the HTTP response body for a stack trace of the exception. |

## Implementation Notes

This operation is idempotent, meaning multiple identical requests should have the same effect as the initial request.


