---
title:  Function Endpoints
---

<span class="keyword">GemFire</span> functions allows you to write and execute server-side transactions and data operations. These may include anything ranging from initializing components or third-party services or aggregating data.

-   **[GET /gemfire-api/v1/functions](../../latest/rest_apps/get_functions.html)**

    List all registered <span class="keyword">GemFire</span> functions in the cluster.

-   **[POST /gemfire-api/v1/functions/{functionId}](../../latest/rest_apps/post_execute_functions.html)**

    Execute <span class="keyword">GemFire</span> function on entire cluster or on a specified region, members and member groups.


