---
title:  <span class="keyword">Apache Geode</span> REST API Reference
---

This section summarizes all available <span class="keyword">Apache Geode</span> REST API resources and endpoints.

**Note:**
This documentation covers the **v1** release of <span class="keyword">Geode</span> REST APIs for developing applications.

-   **[Region Endpoints](../rest_apps/rest_regions.html)**

    A <span class="keyword">Geode</span> region is how <span class="keyword">Geode</span> logically groups data within its cache. Regions stores data as entries, which are key-value pairs. Using the REST APIs you can read, add (or update), and delete region data.

-   **[Query Endpoints](../rest_apps/rest_queries.html)**

    <span class="keyword">Geode</span> uses a query syntax based on OQL (Object Query Language) to query region data. Since <span class="keyword">Geode</span> regions are key-value stores, values can range from simple byte arrays to complex nested objects.

-   **[Function Endpoints](../rest_apps/rest_functions.html)**

    <span class="keyword">Geode</span> functions allows you to write and execute server-side transactions and data operations. These may include anything ranging from initializing components or third-party services or aggregating data.

-   **[Administrative Endpoints](../rest_apps/rest_admin.html)**

    Administrative endpoints provide management and monitoring functionality for the REST API interface.


