---
title:  Limitations
---

Currently the native client only supports the NULL cipher with mutual authentication for SSL socket communications.

The keys and keystores need to be in the JKS (Java KeyStore) format for the <span class="keyword">Geode</span> server and in the clear PEM format for the native client.


