---
title:  Eviction
---

Use eviction to control data region size.

<a id="eviction__section_C3409270DD794822B15E819E2276B21A"></a>

-   **[How Eviction Works](../../../latest/developing/eviction/how_eviction_works.html)**

    Eviction settings cause <span class="keyword">Pivotal GemFire</span> to work to keep a region's resource use under a specified level by removing least recently used (LRU) entries to make way for new entries.

-   **[Configure Data Eviction](../../../latest/developing/eviction/configuring_data_eviction.html)**

    Use eviction controllers to configure the eviction-attributes region attribute settings to keep your region within a specified limit.


