---
title:  C\# .NET Naming and Usage Conventions
---

Unless noted, the .NET API classes and functions have the same names as their C++ counterparts in the namespace `GemStone::GemFire::Cache`. In .NET, all method names start with a capital letter.

The .NET interface names match those of comparable C++ interfaces, but with an ’I’ prepended to satisfy .NET naming conventions. For example, the .NET equivalent of the C++ `CacheLoader` interface is `ICacheLoader`.

The name of the <span class="keyword">Geode</span> `Serializable` interface is `IGFSerializable` because `ISerializable` is a .NET built-in type.

Where possible, get\* and set\* functions are replaced by .NET properties.

You can implement the <span class="keyword">Geode</span> .NET interfaces. You cannot extend any of the classes because they are marked as sealed.


