---
title:  .NET Application Domains
---

Application domains, or `AppDomain`s, are units of isolation, security boundaries, and loading and unloading for applications in the .NET runtime. Multiple application domains can run in a single process. Each can have one or many threads, and a thread can switch application domains at runtime.

**Note:**
Before you use application domains with <span class="keyword">Geode</span>, make sure you understand how to use them generally in your .NET programming.

The .NET managed assemblies require interface methods invoked by the native C++ layer to be in the same `AppDomain` as that of the .NET DLL. If not, an exception is thrown because the thread is unable to cross `AppDomain` boundaries.

-   **[Problem Scenarios](../../nativeclient/dotnet-caching-api/problem-scenarios.html)**

    These scenarios describe processes and implementations that should be avoided when using `AppDomains`.


