---
title:  Property Collections and Logging APIs
---

This section describes classes for property collections and logging.

-   **Properties** **class**. Provides a collection of properties, each of which is a key/value pair. Each key is a string, and the value can be a string or an integer.
-   **Log class**. Defines methods available to clients that need to write a log message to their <span class="keyword">Geode</span> system shared log file. Any attempt to use an instance after its connection is disconnected throws a **NotConnectedException**. For any logged message the log file contains:
    -   The log level of the message.
    -   The time the message was logged.
    -   The ID of the connection and thread that logged the message.
    -   The message itself, possibly with an exception including its stack trace.


