---
title:  Primary APIs
---

These are the main APIs within `GemStone::GemFire::Cache::Generic` used for cache, region, and data entry management in <span class="keyword">Geode</span> C\# .NET. For detailed information about the APIs, see the .NET API documentation included in the product or available online.

**Note:**
Declarative configuration via XML of application plug-ins such as cache listener, cache writer, cache loader and partition resolver is not supported when clients are operated in the new .NET Generic API.

-   **[Cache APIs](../../nativeclient/dotnet-caching-api/cache-apis.html)**

    This section describes the `CacheFactory` and `Cache` classes.

-   **[Region and Entry APIs](../../nativeclient/dotnet-caching-api/region-entry-apis.html)**

    This section describes classes for working with <span class="keyword">Geode</span> regions and region entries.

-   **[Data Serialization APIs](../../nativeclient/dotnet-caching-api/data-serialization-apis.html)**

    Use either `IPdxSerializable` or `IGFSerializable` for each region. Do not mix the two.

-   **[Event Handling APIs](../../nativeclient/dotnet-caching-api/event-handling-apis.html)**

    Code your event handlers to do minimal work before returning control to <span class="keyword">Geode</span>.

-   **[Property Collections and Logging APIs](../../nativeclient/dotnet-caching-api/other-apis.html)**

    This section describes classes for property collections and logging.


