---
title:  Configuring the Native Client Cache
---

*Configuring the Native Client Cache* describes the native client cache functionality, initialization file, and APIs. It provides information about creating and working with caches, cache regions, and region entries.

The native client cache provides a framework for native clients to store, manage, and distribute application data.

-   **[Caches](../../nativeclient/client-cache/caches.html)**

    The cache is the entry point to native client data caching in <span class="keyword">Geode</span>. Through the cache, native clients gain access to the <span class="keyword">Geode</span> caching framework for data loading, distribution, and maintenance.

-   **[Cache Initialization File (cache.xml)](../../nativeclient/cache-init-file/chapter-overview.html)**

    To ease the task of managing the structure of the cache, you can define the default <span class="keyword">Geode</span> cache structure in an XML-based initialization file.

-   **[Regions](../../nativeclient/client-cache/regions.html)**

    You create cache regions either programmatically or through declarative statements in the `cache.xml` file. Generally, a cache is organized and populated through a combination of the two approaches.

-   **[Region Entries](../../nativeclient/client-cache/entries.html)**

    Region entries hold cached application data. Entries are automatically managed according to region attribute settings.

-   **[Region Consistency](../../nativeclient/client-cache/consistency_checking_in_regions.html)**

    <span class="keyword">Geode</span> ensures that all copies of a region eventually reach a consistent state on all members and clients that host the region.

-   **[Region Attributes](../../nativeclient/client-cache/region-attributes.html)**

    Region attributes govern the automated management of a region and its entries.

-   **[Cache Management](../../nativeclient/client-cache/cache-management.html)**

    This section covers cache management.


