---
title:  LruEntriesLimit
---

<a id="concept_75D723D60E044FF9AE97C939699AB10A__section_B0174EA802CB47C9981EF3BDF4B7D169"></a>
This attribute sets the maximum number of entries to hold in a caching region. When the capacity of the caching region is exceeded, a least-recently-used (LRU) algorithm is used to evict entries.

**Note:**
This is a tuning parameter that affects system performance.

When eviction is configured, memory consumption or entry count is monitored and, when capacity is reached, <span class="keyword">Geode</span> makes way for new entries by removing or overflowing the stalest LRU entries to disk.

If you use disk data overflow to supplement memory for your data cache, make sure you have enough disk space to store the data.

This declaration limits the region to 20,000 entries:

``` pre
<region-attributes lru-entries-limit="20000"
     initial-capacity="20000"
     load-factor="1">
</region-attributes>
```

Evicted entries can be destroyed or moved to disk as an extension of the cache. See [DiskPolicy](disk-policy.html#disk-policy).

**Note:**
When `CachingEnabled` is `false`, do not set the `LruEntriesLimit` attribute. An `IllegalStateException` is thrown if the attribute is set.

See also [Controlling Cache Size](controlling-cache-size.html#controlling-cache-size).


