---
title:  Regions
---

You create cache regions either programmatically or through declarative statements in the `cache.xml` file. Generally, a cache is organized and populated through a combination of the two approaches.

<a id="regions__section_1BE4ABB76537488C966E452C2D89478F"></a>
The region is the core building block of the <span class="keyword">Geode</span> distributed system. All cached data is organized into data regions and you do all of your data puts, gets, and querying activities against them.

A distributed region can be either non-partitioned or a partitioned region. See [Data Regions](../../basic_config/data_regions/chapter_overview.html) for detailed descriptions of both non-partitioned and partitioned regions. Region creation is subject to attribute consistency checks. The requirements for consistency between attributes are detailed both in the online API documentation and throughout the discussion of [Region Attributes](region-attributes.html#region-attributes).

-   **[Declarative Region Creation](../../nativeclient/client-cache/declarative-region-creation.html)**

    Declarative region creation involves placing the region's XML declaration, with the appropriate attribute settings, in the `cache.xml` file that is loaded at cache creation.

-   **[Programmatic Region Creation](../../nativeclient/client-cache/programmatic-region-creation.html)**

    You create regions programmatically with the `regionFactory` class.

-   **[Invalidating and Destroying Regions](../../nativeclient/client-cache/invalidating-region.html)**

    Invalidation marks all entries contained in the region as invalid (with null values). Destruction removes the region and all of its contents from the cache.

-   **[Region Access](../../nativeclient/client-cache/region-access.html)**

    You can use `Cache::getRegion` to retrieve a reference to a specified region.

-   **[Getting the Region Size](../../nativeclient/client-cache/getting-the-region-size.html)**

    The `Region` API provides a `size` method (`Size` property for .NET) that gets the size of a region.


