<?xml version="1.0" encoding="utf-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:gfe="http://www.springframework.org/schema/gemfire"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/gemfire http://www.springframework.org/schema/gemfire/spring-gemfire.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
  ">

  <util:properties id="gemfireProperties">
    <prop key="name">SpringGemFireServerBootstrap</prop>
    <prop key="mcast-port">0</prop>
    <prop key="log-level">config</prop>
    <prop key="http-service-port">0</prop>
  </util:properties>

  <gfe:cache properties-ref="gemfireProperties" lazy-init="false" copy-on-read="true"
             critical-heap-percentage="0.95" eviction-heap-percentage="0.85"
             pdx-ignore-unread-fields="false" pdx-persistent="true" pdx-read-serialized="true"/>

  <gfe:partitioned-region id="Example" persistent="false"/>

</beans>
