---
title:  Distributed System and Cache Configuration
---

To work with your <span class="keyword">Pivotal GemFire</span> applications, you use a combination of configuration files and application code.

-   **[Distributed System Members](../../../latest/basic_config/config_concepts/distributed_system_member_configuration.html)**

    Distributed system members are programs that connect to a <span class="keyword">GemFire</span> distributed system. You configure members to belong to a single distributed system, and you can optionally configure them to be clients or servers to members in other distributed systems, and to communicate with other distributed systems.

-   **[Setting Properties](../../../latest/basic_config/gemfire_properties/setting_distributed_properties.html)**

    <span class="keyword">GemFire</span> provides a default distributed system configuration for out-of-the-box systems. To use non-default configurations and to fine-tune your member communication, you can use a mix of various options to customize your distributed system configuration.

-   **[Options for Configuring the Cache and Data Regions](../../../latest/basic_config/the_cache/setting_cache_properties.html)**

    To populate your <span class="keyword">Pivotal GemFire</span> cache and fine-tune its storage and distribution behavior, you need to define cached data regions and provide custom configuration for the cache and regions.

-   **[Local and Remote Membership and Caching](../../../latest/basic_config/config_concepts/local_vs_remote.html)**

    For many <span class="keyword">Pivotal GemFire</span> discussions, you need to understand the difference between local and remote membership and caching.


