---
title:  Host Machine Requirements
---

Host machines must meet a set of requirements for <span class="keyword">Pivotal GemFire</span>.

<a id="system_requirements__section_1E1F206FBC8B4A898A449E0699907A7A"></a>
Each machine that will run <span class="keyword">Pivotal GemFire</span> must meet the following requirements:

-   Java SE Development Kit 8 or a more recent version.
-   A system clock set to the correct time and a time synchronization service such as Network Time Protocol (NTP). Correct time stamps permit the following activities:
    -   Logs that are useful for troubleshooting. Synchronized time stamps ensure that log messages from different hosts can be merged to reproduce an accurate chronological history of a distributed run.
    -   Aggregate product-level and application-level time statistics. 
    -   Accurate monitoring of the <span class="keyword">GemFire</span> system with scripts and other tools that read the system statistics and log files.
-   The host name and host files are properly configured for the machine. The host name and host file configuration can affect `gfsh` and Pulse functionality.


