---
title:  Statistics
---

Every application and server in a distributed system can access statistical data about <span class="keyword">Apache Geode</span> operations. You can configure the gathering of statistics by using the `alter runtime` command of `gfsh` or in the `gemfire.properties` file to facilitate system analysis and troubleshooting.

-   **[How Statistics Work](../../managing/statistics/how_statistics_work.html)**

    Each application or cache server that joins the distributed system can collect and archive statistical data for analyzing system performance.

-   **[Transient Region and Entry Statistics](../../managing/statistics/transient_region_and_entry_statistics.html)**

    For replicated, distributed, and local regions, <span class="keyword">Geode</span> provides a standard set of statistics for the region and its entries.

-   **[Application-Defined and Custom Statistics](../../managing/statistics/application_defined_statistics.html)**

    <span class="keyword">Geode</span> includes interfaces for defining and maintaining your own statistics.

-   **[Configuring and Using Statistics](../../managing/statistics/setting_up_statistics.html)**

    You configure statistics and statistics archiving in gemfire.properties

-   **[Viewing Archived Statistics](../../managing/statistics/viewing_statistics.html)**


