---
title: Security Information Specific to Geode
---
<a id="topic_36C918B4202D45F3AC225FFD23B11D7C"></a>


<span class="keyword">Geode</span> allows you to assess the security of your information, secure your information infrastructure, protect your sensitive information, and manage security information and events to assure effectiveness and regulatory compliance.

As part of this commitment, the following information is provided to help you secure your environment.

Note that the intent of this section is to gather discrete pieces of information in one convenient location to better help you assess and configure the security of your environment.

-   **[External Interfaces, Ports, and Services](security-audit.html#topic_686158E9AFBD47518BE1B4BEB232C190)**

    <span class="keyword">Geode</span> processes use either UDP or TCP/IP ports to communicate with other processes or clients.

-   **[Resources That Must Be Protected](security-audit.html#topic_263072624B8D4CDBAD18B82E07AA44B6)**

    Certain <span class="keyword">Geode</span> configuration files should be readable and writeable *only* by the dedicated user who runs servers.

-   **[Log File Locations](security-audit.html#topic_5B6DF783A14241399DC25C6EE8D0048A)**

    By default, the log files are located in the working directory used when you started the corresponding processes.


