---
title:  SSL
---

SSL protects your data in transit between applications.

-   **[How SSL Works](../../../latest/managing/security/how_ssl_works.html)**

    For in transit data, SSL ensures that only the applications identified by you can share distributed system data.

-   **[Configuring SSL](../../../latest/managing/security/implementing_ssl.html)**

    You configure SSL for mutual authentication between members and to protect your data during distribution. You can use SSL alone or in conjunction with the other <span class="keyword">GemFire</span> security options.

-   **[SSL Sample Implementation](../../../latest/managing/security/ssl_example.html)**

    A simple example demonstrates the configuration and startup of <span class="keyword">GemFire</span> system components with SSL.


