---
title:  Logging
---

Comprehensive logging messages help you confirm system configuration and debug problems in configuration and code.

-   **[How GemFire Logging Works](../../../latest/managing/logging/how_logging_works.html)**

    <span class="keyword">Pivotal GemFire</span> uses Apache Log4j 2 as the basis for its logging system.

-   **[Understanding Log Messages and Their Categories](../../../latest/managing/logging/logging_categories.html)**

    System logging messages typically pertain to startup; logging management; connection and system membership; distribution; or cache, region, and entry management.

-   **[Naming, Searching, and Creating Log Files](../../../latest/managing/logging/logging_whats_next.html)**

    The best way to manage and understand the logs is to have each member log to its own files.

-   **[Set Up Logging](../../../latest/managing/logging/setting_up_logging.html)**

    You configure logging in a member's `gemfire.properties` or at startup with `gfsh`.

-   **[Advanced Users—Configuring Log4j 2 for GemFire](../../../latest/managing/logging/configuring_log4j2.html)**

    Basic <span class="keyword">GemFire</span> logging configuration is configured via the gemfire.properties file. This topic is intended for advanced users who need increased control over logging due to integration with third-party libraries.

-   **[Log Collection Utility](../../../latest/managing/logging/log_collection_utility.html)**

    To aid in the troubleshooting of <span class="keyword">Pivotal GemFire</span> issues, you can use the provided log collection utility to gather and upload log files and other troubleshooting artifacts. This tool is only supported on Linux machines.


