---
title:  Network Partitioning
---

<span class="keyword">Apache Geode</span> architecture and management features help detect and resolve network partition problems.

-   **[How Network Partitioning Management Works](../../managing/network_partitioning/how_network_partitioning_management_works.html)**

    <span class="keyword">Geode</span> handles network outages by using a weighting system to determine whether the remaining available members have a sufficient quorum to continue as a distributed system.

-   **[Failure Detection and Membership Views](../../managing/network_partitioning/failure_detection.html)**

    <span class="keyword">Geode</span> uses failure detection to remove unresponsive members from membership views.

-   **[Membership Coordinators, Lead Members and Member Weighting](../../managing/network_partitioning/membership_coordinators_lead_members_and_weighting.html)**

    Network partition detection uses a designated membership coordinator and a weighting system that accounts for a lead member to determine whether a network partition has occurred.

-   **[Network Partitioning Scenarios](../../managing/network_partitioning/network_partitioning_scenarios.html)**

    This topic describes network partitioning scenarios and what happens to the partitioned sides of the distributed system.

-   **[Configure Apache Geode to Handle Network Partitioning](../../managing/network_partitioning/handling_network_partitioning.html)**

    This section lists the configuration steps for network partition detection.

-   **[Preventing Network Partitions](../../managing/network_partitioning/preventing_network_partitions.html)**

    This section provides a short list of things you can do to prevent network partition from occurring.


