---
title:  <span class="keyword">Pivotal GemFire</span> Pulse System Requirements
---

Verify that your system meets the installation and runtime requirements for <span class="keyword">GemFire</span> Pulse.

<a id="system_requirements__section_CBD5B04ACC554029B5C710CE8E244FEA"></a>
The <span class="keyword">GemFire</span> Pulse Web application has been tested for compatibility with the following Web browsers. <span class="keyword">GemFire</span> Pulse may work with other operating systems and browsers upon which it has not been tested:

-   Internet Explorer 9.0.8112.16421
-   Safari 5.1.7 for Windows
-   Google Chrome 22.0.1229.79 m
-   Mozilla Firefox 16.0.1

<span class="keyword">GemFire</span> Pulse has been tested for standalone deployment on Tomcat and Jetty.


