---
title:  OQL Syntax and Semantics
---

<a id="concept_5B8BA904DF2A41BEAA057017777D4E90__section_33F0FD791A2448CB812E8397828B33C2"></a>
This section covers the following querying language features:

-   **[Supported Character Sets](../../../latest/developing/querying_basics/supported_character_sets.html)**

-   **[Supported Keywords](../../../latest/developing/query_additional/supported_keywords.html)**

-   **[Case Sensitivity](../../../latest/developing/query_additional/case_sensitivity.html)**

-   **[Comments in Query Strings](../../../latest/developing/querying_basics/comments_in_query_strings.html)**

-   **[Query Language Grammar](../../../latest/developing/querying_basics/query_grammar_and_reserved_words.html)**

-   **[Operators](../../../latest/developing/query_additional/operators.html)**

-   **[Reserved Words](../../../latest/developing/querying_basics/reserved_words.html)**

-   **[Supported Literals](../../../latest/developing/query_additional/literals.html)**


