---
title:  Region Data Storage and Distribution
---

The <span class="keyword">Pivotal GemFire</span> data storage and distribution models put your data in the right place at the right time. You should understand all the options for data storage in <span class="keyword">GemFire</span> before you start configuring your data regions.

-   **[Storage and Distribution Options](../../../latest/developing/region_options/storage_distribution_options.html)**

    <span class="keyword">GemFire</span> provides several models for data storage and distribution including partitioned or replicated as well as distributed or non-distributed (local cache storage).

-   **[Region Types](../../../latest/developing/region_options/region_types.html)**

    Region types define region behavior within a single distributed system. You have various options for region data storage and distribution.

-   **[Region Data Stores and Data Accessors](../../../latest/developing/region_options/data_hosts_and_accessors.html)**

    Understand the difference between members that store data for a region and members that only act as data accessors to the region.

-   **[Creating Regions Dynamically](../../../latest/developing/region_options/dynamic_region_creation.html)**

    You can dynamically create regions in your application code and automatically instantiate them on members of a distributed system.


